Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

prettier-values-schema:
  name: prettier (values.schema.json)
  entry: npx prettier@3.6.2 --write
  language: system

helm-lint:
  name: helm lint
  entry: bash
  args:
  - -c
  - 'set -euo pipefail
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
  
  ...

feat(deployment): format JSON nicely in helm template CI output
  .github/scripts/format-json-in-yaml.py
  .github/workflows/helm-template-output.yml
  kubernetes/loculus/docs/rendered/default/helm-output-default/keycloak-config-map.yaml
  kubernetes/loculus/docs/rendered/default/helm-output-default/lapis-silo-database-config.yaml
  kubernetes/loculus/docs/rendered/default/helm-output-default/loculus-backend-config.yaml
  kubernetes/loculus/docs/rendered/default/helm-output-default/loculus-website-config.yaml
  kubernetes/loculus/docs/rendered/default/helm-output-default/minio-deployment.yaml
  kubernetes/loculus/docs/rendered/default/keycloak-config-map.yaml
  kubernetes/loculus/docs/rendered/default/lapis-silo-database-config.yaml
  kubernetes/loculus/docs/rendered/default/loculus-backend-config.yaml
  kubernetes/loculus/docs/rendered/default/loculus-website-config.yaml
  kubernetes/loculus/docs/rendered/default/minio-deployment.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/helm-output-e2e-dev/keycloak-config-map.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/helm-output-e2e-dev/lapis-silo-database-config.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/helm-output-e2e-dev/loculus-backend-config.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/helm-output-e2e-dev/loculus-website-config.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/helm-output-e2e-dev/minio-deployment.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/keycloak-config-map.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/lapis-silo-database-config.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/loculus-backend-config.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/loculus-website-config.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/minio-deployment.yaml
  kubernetes/loculus/docs/rendered/preview-server/helm-output-preview-server/keycloak-config-map.yaml
  kubernetes/loculus/docs/rendered/preview-server/helm-output-preview-server/lapis-silo-database-config.yaml
  kubernetes/loculus/docs/rendered/preview-server/helm-output-preview-server/loculus-backend-config.yaml
  kubernetes/loculus/docs/rendered/preview-server/helm-output-preview-server/loculus-website-config.yaml
  kubernetes/loculus/docs/rendered/preview-server/helm-output-preview-server/minio-deployment.yaml
  kubernetes/loculus/docs/rendered/preview-server/keycloak-config-map.yaml
  kubernetes/loculus/docs/rendered/preview-server/lapis-silo-database-config.yaml
  kubernetes/loculus/docs/rendered/preview-server/loculus-backend-config.yaml
  kubernetes/loculus/docs/rendered/preview-server/loculus-website-config.yaml
  kubernetes/loculus/docs/rendered/preview-server/minio-deployment.yaml
Due: helm-lint

feat(deployment): use toPrettyJson in helm templates for readable JSON output
  .github/scripts/format-json-in-yaml.py
  .github/workflows/helm-template-output.yml
  kubernetes/loculus/templates/lapis-silo-database-config.yaml
  kubernetes/loculus/templates/loculus-backend-config.yaml
  kubernetes/loculus/templates/loculus-website-config.yaml
Due: helm-lint

Update helm template output documentation
  kubernetes/loculus/docs/rendered/default/keycloak-config-map.yaml
  kubernetes/loculus/docs/rendered/default/lapis-silo-database-config.yaml
  kubernetes/loculus/docs/rendered/default/loculus-backend-config.yaml
  kubernetes/loculus/docs/rendered/default/loculus-website-config.yaml
  kubernetes/loculus/docs/rendered/default/minio-deployment.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/keycloak-config-map.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/lapis-silo-database-config.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/loculus-backend-config.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/loculus-website-config.yaml
  kubernetes/loculus/docs/rendered/e2e-dev/minio-deployment.yaml
  kubernetes/loculus/docs/rendered/preview-server/keycloak-config-map.yaml
  kubernetes/loculus/docs/rendered/preview-server/lapis-silo-database-config.yaml
  kubernetes/loculus/docs/rendered/preview-server/loculus-backend-config.yaml
  kubernetes/loculus/docs/rendered/preview-server/loculus-website-config.yaml
  kubernetes/loculus/docs/rendered/preview-server/minio-deployment.yaml
Due: helm-lint

Added test for modal
  website/src/components/Group/GroupForm.spec.tsx
Due: none

fix(website): correct link to account edit if Keycloak has subpath (#5797)
  website/src/components/User/UserPage.astro
  website/src/pages/seqsets/index.astro
  website/src/utils/getAuthUrl.ts
  website/src/utils/urlForKeycloakAccountPage.spec.ts
  website/src/utils/urlForKeycloakAccountPage.ts
Due: none

deploy: ca5d5d8e0de5a68c85499f1f7da8b31cf5dfdb5f
  index.html
  pagefind/fragment/en_8e4f7f3.pf_fragment
  pagefind/fragment/en_c4b089e.pf_fragment
  pagefind/index/en_5627ef9.pf_index
  pagefind/index/en_a4e285e.pf_index
  pagefind/index/en_e34015b.pf_index
  pagefind/index/en_e3b46c4.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_8abd4e89fd.pf_meta
  pagefind/pagefind.en_c6a7461161.pf_meta
Due: none

test: add integration test for Edit account button
  integration-tests/tests/pages/my-account.page.ts
  integration-tests/tests/specs/auth/edit-account.spec.ts
Due: none

refactor(website): remove redundant and unused code
  website/src/components/SequenceDetailsPage/SequenceEntryHistoryMenu.tsx
  website/src/routes/routes.ts
Due: none

fix linkouts
  kubernetes/loculus/values.yaml
Due: helm-lint

fix(config): correct nextclade url in EV linkouts (#5817)
  kubernetes/loculus/values.yaml
Due: helm-lint

deploy: a22b959e98bfeee43f11b3ed8d9d057ca4ecabdf
  index.html
  pagefind/fragment/en_8e4f7f3.pf_fragment
  pagefind/fragment/en_a123d8f.pf_fragment
  pagefind/index/en_55f8b01.pf_index
  pagefind/index/en_617cc03.pf_index
  pagefind/index/en_e34015b.pf_index
  pagefind/index/en_e3b46c4.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_8abd4e89fd.pf_meta
  pagefind/pagefind.en_ab313527e1.pf_meta
Due: none

refactor(website): remove redundant and unused code (#5816)
  website/src/components/SequenceDetailsPage/SequenceEntryHistoryMenu.tsx
  website/src/routes/routes.ts
Due: none

test: add integration test for Edit account button (#5815)
  integration-tests/tests/pages/my-account.page.ts
  integration-tests/tests/specs/auth/edit-account.spec.ts
Due: none

deploy: 56dbf7f929cf1748d804b0a31025ff1e4ff6e43a
  index.html
  pagefind/fragment/en_a123d8f.pf_fragment
  pagefind/fragment/en_b0344c9.pf_fragment
  pagefind/index/en_49b258f.pf_index
  pagefind/index/en_55f8b01.pf_index
  pagefind/index/en_617cc03.pf_index
  pagefind/index/en_b853ed2.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_a0c3cd016c.pf_meta
  pagefind/pagefind.en_ab313527e1.pf_meta
Due: none

deploy: fa24d98a5c5b7761cbf162fcffb54a92df8d485e
  index.html
  pagefind/fragment/en_797b192.pf_fragment
  pagefind/fragment/en_b0344c9.pf_fragment
  pagefind/index/en_49b258f.pf_index
  pagefind/index/en_5814c56.pf_index
  pagefind/index/en_b853ed2.pf_index
  pagefind/index/en_cab7e91.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_54a3ce9fa5.pf_meta
  pagefind/pagefind.en_a0c3cd016c.pf_meta
Due: none

deploy: 006979fa7210618f43479532ed535a8a3116bf3a
  index.html
  pagefind/fragment/en_123e67e.pf_fragment
  pagefind/fragment/en_797b192.pf_fragment
  pagefind/index/en_4652512.pf_index
  pagefind/index/en_5814c56.pf_index
  pagefind/index/en_cab7e91.pf_index
  pagefind/index/en_f3a04f5.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_54a3ce9fa5.pf_meta
  pagefind/pagefind.en_ca2cefce2d.pf_meta
Due: none

deploy: 92492eebcf43f49733c651fe14b3f962f72f1987
  index.html
  pagefind/fragment/en_123e67e.pf_fragment
  pagefind/fragment/en_63db326.pf_fragment
  pagefind/index/en_26ae837.pf_index
  pagefind/index/en_2eec565.pf_index
  pagefind/index/en_4652512.pf_index
  pagefind/index/en_f3a04f5.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_ca2cefce2d.pf_meta
  pagefind/pagefind.en_f38f41ffb2.pf_meta
Due: none

ci: Enhance Claude Code Review workflow with tracking
  .github/workflows/claude-code-review.yml
Due: none

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

feat(prepro): set order to segment/reference
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/multi_segment_config_unaligned.yaml
  preprocessing/nextclade/tests/single_segment_config.yaml
Due: helm-lint

make reference_name a required field
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

make ASSIGNED_REFERENCE per segment
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

fixup
  preprocessing/nextclade/src/loculus_preprocessing/embl.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

correct use of ASSIGNED_SEGMENT, get rid of useFirstSegment and rename segment to sequence when mislabeled
  backend/docs/organismWithSuborganisms.md
  kubernetes/loculus/templates/_preprocessingFromValues.tpl
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/README.md
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/datatypes.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/src/loculus_preprocessing/sequence_checks.py
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: helm-lint

fix
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

fix silly mypy warning
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

actually this is correct
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

typing
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

lint
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

use pydantic for the config
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/embl.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

fixup
  kubernetes/loculus/values.yaml
Due: helm-lint

update schema
  kubernetes/loculus/values.schema.json
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: prettier-values-schema, helm-lint

fix tests
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
Due: none

wupps
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

testing
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

fix tests
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/tests/test_metadata_processing_functions.py
Due: none

fix function
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

update config with suggestions from slack
  backend/docs/organismWithSuborganisms.md
  docs/src/content/docs/reference/helm-chart-config.mdx
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/multi_segment_config_unaligned.yaml
  preprocessing/nextclade/tests/single_segment_config.yaml
Due: prettier-values-schema, helm-lint

format
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

fix up
  kubernetes/loculus/values.schema.json
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: prettier-values-schema, helm-lint

Path conditions:
  prettier-values-schema: any of: ^kubernetes/loculus/values\.schema\.json$
  helm-lint: any of: ^kubernetes/loculus/
