Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.2
  hooks:
    # Run the linter and fix issues.
    - id: ruff-check
      args: [ --fix ]
      files: ^ena-submission/
    # Run the formatter.
    - id: ruff-format
      files: ^ena-submission/
- repo: local
  hooks:
    - id: prettier-values-schema
      name: prettier (values.schema.json)
      entry: npx prettier@3.6.2 --write
      language: system
      files: ^kubernetes/loculus/values\.schema\.json$
    - id: helm-lint
      name: helm lint
      entry: bash
      args:
        - -c
        - |
          set -euo pipefail
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_preview_server.yaml
      language: system
      pass_filenames: false
      files: ^kubernetes/loculus/

upd
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

change prepro config as well
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

fixup
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

fix reading in config
  website/src/components/ReviewPage/ReviewPage.spec.tsx
  website/src/components/ReviewPage/ReviewPage.tsx
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.spec.tsx
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
  website/src/components/SearchPage/SeqPreviewModal.tsx
  website/src/components/SearchPage/SuborganismSelector.spec.tsx
  website/src/components/SearchPage/SuborganismSelector.tsx
  website/src/components/SearchPage/fields/MutationField.spec.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SearchPage/stillRequiresSuborganismSelection.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/RevocationEntryDataTable.astro
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/config.ts
  website/src/pages/[organism]/search/index.astro
  website/src/pages/[organism]/submission/[groupId]/released.astro
  website/src/pages/[organism]/submission/[groupId]/review.astro
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/pages/seq/[accessionVersion]/index.astro
  website/src/types/config.ts
  website/src/types/referencesGenomes.ts
  website/src/utils/getSegmentAndGeneInfo.spec.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
  website/src/utils/serversideSearch.ts
Due: none

fixup
  kubernetes/loculus/values.yaml
Due: helm-lint

update
  kubernetes/loculus/values.yaml
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/getSegmentAndGeneInfo.spec.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: helm-lint

u
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

Unauthenticated users can now view public group information in the website at '/group/{groupId}'
  website/src/components/User/GroupPage.tsx
  website/src/pages/group/[groupId]/edit.astro
  website/src/pages/group/[groupId]/index.astro
  website/src/services/commonApiTypes.ts
  website/src/services/groupManagementApi.ts
  website/src/services/groupManagementClient.ts
  website/src/types/backend.ts
  website/src/utils/createAuthorizationHeader.ts
Due: none

Allow for contactEmail being `null` in GroupForm
  website/src/components/Group/GroupForm.tsx
Due: none

Fix formatting and eslint errors
  website/src/components/Group/GroupForm.tsx
  website/src/components/User/GroupPage.tsx
  website/src/pages/group/[groupId]/index.astro
  website/src/services/commonApiTypes.ts
  website/src/services/groupManagementApi.ts
  website/src/types/backend.ts
Due: none

more changes
  backend/docs/organismWithSuborganisms.md
  ena-submission/scripts/get_ena_submission_list.py
  ena-submission/src/ena_deposition/config.py
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/SuborganismSelector.spec.tsx
  website/src/components/SearchPage/SuborganismSelector.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SearchPage/stillRequiresSuborganismSelection.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/components/SequenceDetailsPage/getTableData.spec.ts
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.spec.ts
  website/src/config.ts
  website/src/pages/[organism]/index.astro
  website/src/pages/[organism]/search/index.astro
  website/src/types/config.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
  website/src/utils/serversideSearch.ts
Due: prettier-values-schema, helm-lint

improve
  website/src/utils/serversideSearch.ts
Due: none

small improvements
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/pages/[organism]/index.astro
  website/src/utils/getSegmentAndGeneInfo.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

preview:taxonium viral usher
  kubernetes/loculus/values.yaml
Due: helm-lint

Update values.yaml
  kubernetes/loculus/values.yaml
Due: helm-lint

Update Taxonium URL in values.yaml
  kubernetes/loculus/values.yaml
Due: helm-lint

Replace 'Taxonium' with 'Viral Usher tree' in values.yaml
  kubernetes/loculus/values.yaml
Due: helm-lint

fix config
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

fix more code
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.spec.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SearchPage/isActiveForSelectedReferenceName.tsx
  website/src/components/SearchPage/isActiveForSelectedSuborganism.tsx
  website/src/config.spec.ts
  website/src/config.ts
  website/src/pages/[organism]/search/index.astro
  website/src/types/config.ts
  website/src/utils/search.spec.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix up
  website/src/config.ts
Due: none

fixup
  website/src/utils/serversideSearch.ts
Due: none

testing
  website/src/components/SearchPage/SearchForm.tsx
Due: none

testing
  website/src/components/SearchPage/SearchFullUI.tsx
Due: none

more
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
Due: none

fixup
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

fix referenceSelector
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/types/referencesGenomes.ts
Due: none

make referenceSelector for each segment
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/types/referencesGenomes.ts
Due: none

fix more
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
Due: none

finally
  website/src/components/SequenceDetailsPage/getTableData.ts
Due: none

Minor CSS formatting
  website/src/components/User/GroupPage.tsx
Due: none

fixup
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: none

fix EVs
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

fixup
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/pages/[organism]/search/index.astro
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: none

fix tests
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

cut down code complexity
  backend/docs/organismWithSuborganisms.md
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint
