Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

prettier-values-schema:
  name: prettier (values.schema.json)
  entry: npx prettier@3.6.2 --write
  language: system

helm-lint:
  name: helm lint
  entry: bash
  args:
  - -c
  - 'set -euo pipefail
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
  
  ...

fix docs
  backend/docs/organismWithSuborganisms.md
Due: none

feat(prepro): add tests
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/cchfv/L/genome_annotation.gff3
  preprocessing/nextclade/tests/cchfv/L/pathogen.json
  preprocessing/nextclade/tests/cchfv/L/reference.fasta
  preprocessing/nextclade/tests/cchfv/S-1and6/genome_annotation.gff3
  preprocessing/nextclade/tests/cchfv/S-1and6/pathogen.json
  preprocessing/nextclade/tests/cchfv/S-1and6/reference.fasta
  preprocessing/nextclade/tests/cchfv/S-2to5/genome_annotation.gff3
  preprocessing/nextclade/tests/cchfv/S-2to5/pathogen.json
  preprocessing/nextclade/tests/cchfv/S-2to5/reference.fasta
  preprocessing/nextclade/tests/multi_reference_config.yaml
  preprocessing/nextclade/tests/multi_segment_multi_reference.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

rename as suggested
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: prettier-values-schema, helm-lint

fixup
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

fix more tests
  backend/docs/organismWithSuborganisms.md
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/tests/test_metadata_processing_functions.py
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

fix error message for multi-segment, multi-reference if multiple sequences align to the same segment
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

feat(website): use multipart upload for files
  website/src/components/Submission/FileUpload/FolderUploadComponent.spec.tsx
  website/src/components/Submission/FileUpload/FolderUploadComponent.tsx
  website/src/services/backendClient.ts
  website/src/types/backend.ts
  website/src/utils/multipartUpload.spec.ts
  website/src/utils/multipartUpload.ts
Due: none

adapt tests
  integration-tests/tests/specs/features/file-sharing.spec.ts
  website/src/components/Submission/FileUpload/FolderUploadComponent.spec.tsx
  website/src/components/Submission/FileUpload/FolderUploadComponent.tsx
Due: none

feat(website): use multipart upload for files (#5775)
  integration-tests/tests/specs/features/file-sharing.spec.ts
  website/src/components/Submission/FileUpload/FolderUploadComponent.spec.tsx
  website/src/components/Submission/FileUpload/FolderUploadComponent.tsx
  website/src/services/backendClient.ts
  website/src/types/backend.ts
  website/src/utils/multipartUpload.spec.ts
  website/src/utils/multipartUpload.ts
Due: none

deploy: d84c20cfa374decc065ce80ebf1d95a1a434a529
  index.html
  pagefind/fragment/en_63db326.pf_fragment
  pagefind/fragment/en_7c9e3bc.pf_fragment
  pagefind/index/en_26ae837.pf_index
  pagefind/index/en_2eec565.pf_index
  pagefind/index/en_40c6b7b.pf_index
  pagefind/index/en_90a0b46.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1155c476cd.pf_meta
  pagefind/pagefind.en_f38f41ffb2.pf_meta
Due: none

ci: Enhance Claude Code Review workflow with tracking (#5824)
  .github/workflows/claude-code-review.yml
Due: none

deploy: 8aa8dda4ecd5530c74cad0f189c67e8a60406264
  index.html
  pagefind/fragment/en_7c9e3bc.pf_fragment
  pagefind/fragment/en_f94d77d.pf_fragment
  pagefind/index/en_40c6b7b.pf_index
  pagefind/index/en_43859db.pf_index
  pagefind/index/en_90a0b46.pf_index
  pagefind/index/en_c1f17c7.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1155c476cd.pf_meta
  pagefind/pagefind.en_9c377ebe62.pf_meta
Due: none

Tweak claude code review instructions
  .github/workflows/claude-code-review.yml
Due: none

feat(backend): restrict allowed filenames
  backend/src/main/kotlin/org/loculus/backend/model/SubmitModel.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/FileMappingPreconditionValidator.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
  backend/src/test/kotlin/org/loculus/backend/service/submission/ValidateFileNameTest.kt
  docs/src/content/docs/for-users/submit-extra-files.md
Due: none

ci: Tweak claude code review instructions (#5826)
  .github/workflows/claude-code-review.yml
Due: none

deploy: 35333d4248c62b6ee40cb15a640bc0dfa7c04bf9
  index.html
  pagefind/fragment/en_79c4b4d.pf_fragment
  pagefind/fragment/en_f94d77d.pf_fragment
  pagefind/index/en_1713997.pf_index
  pagefind/index/en_43859db.pf_index
  pagefind/index/en_46b5131.pf_index
  pagefind/index/en_c1f17c7.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_151c725510.pf_meta
  pagefind/pagefind.en_9c377ebe62.pf_meta
Due: none

ci: don't review draft PRs or dependabot PRs
  .github/workflows/claude-code-review.yml
Due: none

Renamed all occurrences of `getAllGroups` -> `getGroups`
  website/src/components/Group/GroupForm.spec.tsx
  website/src/components/Group/GroupForm.tsx
  website/src/components/User/GroupCreationForm.tsx
  website/src/components/User/GroupEditForm.tsx
  website/src/hooks/useGroupOperations.ts
  website/src/services/groupManagementApi.ts
Due: none

Rephrase alert message
  website/src/components/Group/ExistingGroupsModal.tsx
Due: none

formatting
  website/src/components/Group/ExistingGroupsModal.tsx
Due: none

ci: don't claude review draft PRs or dependabot PRs (#5828)
  .github/workflows/claude-code-review.yml
Due: none

deploy: efb73030458ff8fd0ba25225246274541fa84c4b
  index.html
  pagefind/fragment/en_79c4b4d.pf_fragment
  pagefind/fragment/en_cabb79d.pf_fragment
  pagefind/index/en_1713997.pf_index
  pagefind/index/en_46b5131.pf_index
  pagefind/index/en_6d91a4c.pf_index
  pagefind/index/en_c18934e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_151c725510.pf_meta
  pagefind/pagefind.en_9a8d23eb88.pf_meta
Due: none

feat(website): add file uploads to revisions
  integration-tests/tests/pages/edit.page.ts
  integration-tests/tests/pages/revision.page.ts
  integration-tests/tests/pages/submission.page.ts
  integration-tests/tests/specs/features/file-sharing.spec.ts
  integration-tests/tests/utils/file-upload-helpers.ts
  website/src/components/Edit/EditPage.tsx
  website/src/components/Submission/DataUploadForm.tsx
  website/src/components/Submission/FileUpload/FolderUploadComponent.spec.tsx
  website/src/components/Submission/FileUpload/FolderUploadComponent.tsx
  website/src/services/backendApi.ts
  website/src/types/backend.ts
Due: none

refactor(integration-tests): remove unused methods
  integration-tests/tests/pages/CliPage.ts
  integration-tests/tests/pages/group.page.ts
  integration-tests/tests/pages/review.page.ts
  integration-tests/tests/pages/revision.page.ts
  integration-tests/tests/pages/search.page.ts
  integration-tests/tests/pages/sequence-detail.page.ts
  integration-tests/tests/pages/submission.page.ts
Due: none

feat!(prepro): multi-pathogen refactor, apply segment-reference ordering (#5800)
  backend/docs/organismWithSuborganisms.md
  docs/src/content/docs/reference/helm-chart-config.mdx
  kubernetes/loculus/templates/_preprocessingFromValues.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/README.md
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/datatypes.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/src/loculus_preprocessing/sequence_checks.py
  preprocessing/nextclade/tests/cchfv/L/genome_annotation.gff3
  preprocessing/nextclade/tests/cchfv/L/pathogen.json
  preprocessing/nextclade/tests/cchfv/L/reference.fasta
  preprocessing/nextclade/tests/cchfv/S-1and6/genome_annotation.gff3
  preprocessing/nextclade/tests/cchfv/S-1and6/pathogen.json
  preprocessing/nextclade/tests/cchfv/S-1and6/reference.fasta
  preprocessing/nextclade/tests/cchfv/S-2to5/genome_annotation.gff3
  preprocessing/nextclade/tests/cchfv/S-2to5/pathogen.json
  preprocessing/nextclade/tests/cchfv/S-2to5/reference.fasta
  preprocessing/nextclade/tests/multi_reference_config.yaml
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/multi_segment_config_unaligned.yaml
  preprocessing/nextclade/tests/multi_segment_multi_reference.yaml
  preprocessing/nextclade/tests/single_segment_config.yaml
  preprocessing/nextclade/tests/test_metadata_processing_functions.py
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: prettier-values-schema, helm-lint

deploy: 811a4b2c8c1672906bbd5c9fb9a0ed847d3fe98f
  index.html
  pagefind/fragment/en_298667e.pf_fragment
  pagefind/fragment/en_59a4f05.pf_fragment
  pagefind/fragment/en_5bfb5d9.pf_fragment
  pagefind/fragment/en_cabb79d.pf_fragment
  pagefind/index/en_6d91a4c.pf_index
  pagefind/index/en_7a55e03.pf_index
  pagefind/index/en_8115e67.pf_index
  pagefind/index/en_c18934e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_9a8d23eb88.pf_meta
  pagefind/pagefind.en_d51e8754e1.pf_meta
  reference/helm-chart-config/index.html
Due: none

fixup
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

up
  kubernetes/loculus/values.yaml
Due: helm-lint

testing
  kubernetes/loculus/values.yaml
Due: helm-lint

delete unused file
  website/src/components/SearchPage/ReferenceNameSelector.tsx
Due: none

format
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

remove duplication
  kubernetes/loculus/values.yaml
Due: helm-lint

feat(website): format
  website/.prettierrc
  website/README.md
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/pages/-testpage/index.mdx
  website/tests/config/README.md
Due: none

update
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

feat(config): update the config to use format decided on in slack
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  kubernetes/loculus/templates/_preprocessingFromValues.tpl
  kubernetes/loculus/templates/_siloDatabaseConfig.tpl
  kubernetes/loculus/templates/ingest-config.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

fix order of reference and segments
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: helm-lint

fixup
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.ts
  website/src/types/config.ts
  website/src/types/referencesGenomes.ts
Due: none

fixup
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

fixup
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

Path conditions:
  prettier-values-schema: any of: ^kubernetes/loculus/values\.schema\.json$
  helm-lint: any of: ^kubernetes/loculus/
