Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.2
  hooks:
    # Run the linter and fix issues.
    - id: ruff-check
      args: [ --fix ]
      files: ^ena-submission/
    # Run the formatter.
    - id: ruff-format
      files: ^ena-submission/
- repo: local
  hooks:
    - id: prettier-values-schema
      name: prettier (values.schema.json)
      entry: npx prettier@3.6.2 --write
      language: system
      files: ^kubernetes/loculus/values\.schema\.json$
    - id: helm-lint
      name: helm lint
      entry: bash
      args:
        - -c
        - |
          set -euo pipefail
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_preview_server.yaml
      language: system
      pass_filenames: false
      files: ^kubernetes/loculus/

tada
  ena-submission/src/ena_deposition/submission_db_helper.py
Due: none

revert before merging: change from minutes to hours for testing
  ena-submission/src/ena_deposition/ena_submission_helper.py
Due: none

fix(deployment): give backend 30min to come live not 3min to avoid it being killed during migrations (#5698)
  kubernetes/loculus/templates/loculus-backend.yaml
Due: helm-lint

deploy: 181bbba9a8358fb43e63af23d8104a4e8f46ecef
  index.html
  pagefind/fragment/en_6fdc6a0.pf_fragment
  pagefind/fragment/en_e1cf71c.pf_fragment
  pagefind/index/en_19a9671.pf_index
  pagefind/index/en_1e6ce73.pf_index
  pagefind/index/en_4dbd9aa.pf_index
  pagefind/index/en_fd40bea.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_9f0d77c77c.pf_meta
  pagefind/pagefind.en_f4733e1c5b.pf_meta
Due: none

fixup
  ena-submission/src/ena_deposition/create_project.py
Due: none

Update ena-submission/src/ena_deposition/ena_submission_helper.py
  ena-submission/src/ena_deposition/ena_submission_helper.py
Due: none

feat(deposition): use AccessionVersion in cronjob
  ena-submission/scripts/get_ena_submission_list.py
Due: none

include suggestion
  ena-submission/scripts/get_ena_submission_list.py
Due: none

feat(deposition): use pydantic for config value validation
  ena-submission/config/defaults.yaml
  ena-submission/scripts/test_ena_submission.py
  ena-submission/src/ena_deposition/config.py
  ena-submission/src/ena_deposition/create_assembly.py
  ena-submission/src/ena_deposition/create_project.py
  ena-submission/src/ena_deposition/create_sample.py
  ena-submission/src/ena_deposition/ena_submission_helper.py
  ena-submission/test/test_config.yaml
  ena-submission/test/test_sample_request.xml
  ena-submission/test/test_sample_request_gisaid.xml
  ena-submission/test/text_project_request.xml
  kubernetes/loculus/templates/_common-metadata.tpl
Due: helm-lint

update
  ena-submission/config/defaults.yaml
  ena-submission/scripts/get_ena_submission_list.py
  ena-submission/src/ena_deposition/config.py
Due: none

merge conflict
  ena-submission/scripts/get_ena_submission_list.py
Due: none

fix tests
  ena-submission/scripts/test_ena_submission.py
  ena-submission/test/test_flatfile_with_apostrophe.embl
Due: none

also add molecule and typology typing to the config
  ena-submission/src/ena_deposition/config.py
  ena-submission/src/ena_deposition/create_assembly.py
  ena-submission/src/ena_deposition/ena_submission_helper.py
  ena-submission/src/ena_deposition/ena_types.py
Due: none

proper handling of slack config details
  ena-submission/src/ena_deposition/config.py
  ena-submission/src/ena_deposition/notifications.py
Due: none

fixup
  kubernetes/loculus/templates/_common-metadata.tpl
Due: helm-lint

add docs to the config values
  ena-submission/src/ena_deposition/config.py
Due: none

feat(deposition): use pydantic for config value validation
  ena-submission/src/ena_deposition/config.py
Due: none

fix tests
  ena-submission/src/ena_deposition/config.py
Due: none

format
  ena-submission/scripts/test_ena_submission.py
Due: none

merge conflict
  kubernetes/loculus/values.yaml
Due: helm-lint

merge conflict
  ena-submission/config/defaults.yaml
Due: none

add test link
  kubernetes/loculus/values.yaml
Due: helm-lint

feat(config, deposition): restructure helm templates to create config for ena deposition and use this for reading in data in the cronjob
  ena-submission/config/defaults.yaml
  ena-submission/scripts/get_ena_submission_list.py
  ena-submission/scripts/test_ena_submission.py
  ena-submission/src/ena_deposition/call_loculus.py
  ena-submission/src/ena_deposition/config.py
  ena-submission/src/ena_deposition/create_assembly.py
  ena-submission/src/ena_deposition/create_project.py
  ena-submission/src/ena_deposition/create_sample.py
  ena-submission/src/ena_deposition/ena_submission_helper.py
  ena-submission/src/ena_deposition/submission_db_helper.py
  ena-submission/src/ena_deposition/upload_external_metadata_to_loculus.py
  ena-submission/test/test_config.yaml
  generate_local_test_config.sh
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.yaml
Due: helm-lint

fixup
  ena-submission/scripts/test_ena_submission.py
Due: none

correct config
  kubernetes/loculus/values.yaml
Due: helm-lint

fix
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

ingest all for testing
  kubernetes/loculus/values.yaml
Due: helm-lint

test that seqName is the same
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

add back subsampling
  kubernetes/loculus/values.yaml
Due: helm-lint

fix(prepro): fix bug in processing the output of nextclade sort (#5670)
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

deploy: d18a68cf1041ca300643cefc8b89f972bfa3cc81
  index.html
  pagefind/fragment/en_c0b82b7.pf_fragment
  pagefind/fragment/en_e1cf71c.pf_fragment
  pagefind/index/en_19a9671.pf_index
  pagefind/index/en_4af4f4e.pf_index
  pagefind/index/en_b4efb1e.pf_index
  pagefind/index/en_fd40bea.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_43e114e98f.pf_meta
  pagefind/pagefind.en_9f0d77c77c.pf_meta
Due: none

perf(backend,config): make pipeline version upgrade check interval configurable
  backend/src/main/kotlin/org/loculus/backend/config/BackendSpringConfig.kt
  backend/src/main/kotlin/org/loculus/backend/config/Config.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/UseNewerProcessingPipelineVersionTask.kt
  backend/src/main/resources/application.properties
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/templates/loculus-backend.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

perf(backend): add logging to pipeline version upgrade check task
  backend/src/main/kotlin/org/loculus/backend/service/submission/UseNewerProcessingPipelineVersionTask.kt
Due: none

Some refactoring for pipeline version gc
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/UseNewerProcessingPipelineVersionTask.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/dbtables/CurrentProcessingPipelineTable.kt
Due: none

docs: fix
  backend/docs/organismWithSuborganisms.md
Due: none

docs: user perspective
  backend/docs/organismWithSuborganisms.md
Due: none
