Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

prettier-values-schema:
  name: prettier (values.schema.json)
  entry: npx prettier@3.6.2 --write
  language: system

helm-lint:
  name: helm lint
  entry: bash
  args:
  - -c
  - 'set -euo pipefail
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
  
  ...

fix downloadDialog tests
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
Due: none

deduplicate displayState functions
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.spec.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SearchPage/isActiveForSelectedReferenceName.tsx
  website/src/components/common/FieldSelectorModal.tsx
Due: none

wuppsi
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

testing
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

fix up
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/common/FieldSelectorModal.tsx
  website/src/utils/search.spec.ts
  website/src/utils/search.ts
  website/src/utils/serversideSearch.ts
Due: none

feat(website): add feature to search multiple string fields
  integration-tests/tests/specs/features/search/multi-field-search.dependent.spec.ts
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  website/src/components/SearchPage/DownloadDialog/SequenceFilters.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/fields/MultiFieldSearchField.tsx
  website/src/types/config.ts
  website/src/utils/search.ts
  website/src/utils/serversideSearch.ts
Due: prettier-values-schema, helm-lint

improve test
  integration-tests/tests/specs/features/search/multi-field-search.dependent.spec.ts
Due: none

fix: clade assignment for EVs and add to unit tests
  integration-tests/tests/specs/features/multipathogen-submission-flow.spec.ts
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: helm-lint

tips for agents on running integration tests
  integration-tests/AGENTS.md
Due: none

feat: add function to process phenotype_values
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
Due: none

add a regex extraction method
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
Due: none

feat: add integration tests
  backend/docs/organismWithSuborganisms.md
  integration-tests/tests/specs/features/multipathogen-submission-flow.spec.ts
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

Update taxon_id for Morbillivirus hominis
  .github/workflows/datasets-mirror-priority-1.yml
Due: none

fixup
  .github/workflows/datasets-mirror-priority-1.yml
  .github/workflows/datasets-mirror-priority-2.yml
Due: none

chore(kubernetes): update to SILO 0.9 and LAPIS 0.6 (#5814)
  kubernetes/loculus/templates/_siloDatabaseConfig.tpl
  kubernetes/loculus/templates/lapis-silo-database-config.yaml
  kubernetes/loculus/values.yaml
Due: helm-lint

deploy: c21be51816eba45dc6647a1583543f71ff9cfa8c
  index.html
  pagefind/fragment/en_4821f5a.pf_fragment
  pagefind/fragment/en_ce986a9.pf_fragment
  pagefind/index/en_44e0dcc.pf_index
  pagefind/index/en_7f56c06.pf_index
  pagefind/index/en_a21f684.pf_index
  pagefind/index/en_bd7050e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2388a28e14.pf_meta
  pagefind/pagefind.en_c572a74819.pf_meta
Due: none

feat(workflows): add morbillivirus hominus to mirror (#5887)
  .github/workflows/datasets-mirror-priority-1.yml
  .github/workflows/datasets-mirror-priority-2.yml
Due: none

deploy: 41b2124d0fc26df0806a39a3da19ec9f449ee5b9
  index.html
  pagefind/fragment/en_7835611.pf_fragment
  pagefind/fragment/en_ce986a9.pf_fragment
  pagefind/index/en_a21f684.pf_index
  pagefind/index/en_bd7050e.pf_index
  pagefind/index/en_ca92601.pf_index
  pagefind/index/en_fa85e7a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2388a28e14.pf_meta
  pagefind/pagefind.en_ba46b4a805.pf_meta
Due: none

WIP
  ingest/scripts/override_group_segments.py
Due: none

add log line
  ingest/scripts/override_group_segments.py
Due: none

docs and mini refactorings
  ingest/scripts/override_group_segments.py
Due: none

fix a Snakefile issue
  ingest/Snakefile
Due: none

address review
  ingest/scripts/override_group_segments.py
Due: none

fix again
  ingest/Snakefile
Due: none

pull through config setting
  ingest/Snakefile
  ingest/config/defaults.yaml
  ingest/scripts/override_group_segments.py
Due: none

add Theo's suggestions
  kubernetes/loculus/values.schema.json
  website/src/components/SearchPage/Table.tsx
Due: prettier-values-schema, helm-lint

feat: add tests
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/fields/MutationField.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/getTableData.spec.ts
  website/src/utils/mutation.spec.ts
  website/src/utils/search.spec.ts
Due: none

add type check
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

remove unneeded logs
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

clean up
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

feat(config): rename referenceName to name
  backend/docs/organismWithSuborganisms.md
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/multi_reference_config.yaml
  preprocessing/nextclade/tests/multi_segment_multi_reference.yaml
  website/src/types/referenceGenomes.spec.ts
  website/src/types/referencesGenomes.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: prettier-values-schema, helm-lint

fix(prepro, config, integration tests): fix clade assignment for multi-pathogen case and add to integration tests (#5883)
  backend/docs/organismWithSuborganisms.md
  integration-tests/tests/specs/features/multipathogen-submission-flow.spec.ts
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: helm-lint

deploy: 0f8f791d99bd04796048296fb21c6f9d49d39233
  index.html
  pagefind/fragment/en_7835611.pf_fragment
  pagefind/fragment/en_bacd5d2.pf_fragment
  pagefind/index/en_3d87c6e.pf_index
  pagefind/index/en_b20df28.pf_index
  pagefind/index/en_ca92601.pf_index
  pagefind/index/en_fa85e7a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_8b2e7f9c4a.pf_meta
  pagefind/pagefind.en_ba46b4a805.pf_meta
Due: none

update
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

fixup
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.ts
  website/src/types/config.ts
  website/src/types/referencesGenomes.ts
Due: none

up
  kubernetes/loculus/values.yaml
Due: helm-lint

fixup
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

fixup
  kubernetes/loculus/values.yaml
Due: helm-lint

Path conditions:
  prettier-values-schema: any of: ^kubernetes/loculus/values\.schema\.json$
  helm-lint: any of: ^kubernetes/loculus/
