Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.2
  hooks:
    # Run the linter and fix issues.
    - id: ruff-check
      args: [ --fix ]
      files: ^ena-submission/
    # Run the formatter.
    - id: ruff-format
      files: ^ena-submission/
- repo: local
  hooks:
    - id: prettier-values-schema
      name: prettier (values.schema.json)
      entry: npx prettier@3.6.2 --write
      language: system
      files: ^kubernetes/loculus/values\.schema\.json$
    - id: helm-lint
      name: helm lint
      entry: bash
      args:
        - -c
        - |
          set -euo pipefail
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_preview_server.yaml
      language: system
      pass_filenames: false
      files: ^kubernetes/loculus/

more info for later
  website/src/types/config.ts
  website/src/utils/search.ts
Due: none

format
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

make reference selector per segment
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
Due: none

partially fix mutation searches
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

testing
  integration-tests/tests/specs/features/search/active-filters.dependent.spec.ts
Due: none

clean up more
  website/src/components/SearchPage/SearchForm.tsx
Due: none

add TODOs
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/common/FieldSelectorModal.tsx
  website/src/utils/search.ts
Due: none

wupps
  kubernetes/loculus/templates/_common-metadata.tpl
Due: helm-lint

fix some tests
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
Due: none

fix reference selection
  kubernetes/loculus/values.yaml
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.spec.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: helm-lint

clean up some tests
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
Due: none

fix one test
  integration-tests/tests/specs/features/search/active-filters.dependent.spec.ts
Due: none

format
  website/src/utils/sequenceTypeHelpers.spec.ts
Due: none

clean up code
  website/src/components/SearchPage/SearchForm.tsx
Due: none

split by segment
  website/src/components/SearchPage/SearchForm.tsx
Due: none

try again
  integration-tests/tests/specs/features/search/active-filters.dependent.spec.ts
Due: none

fix one integration test
  integration-tests/tests/pages/search.page.ts
Due: none

clean up tests a bit
  integration-tests/tests/pages/search.page.ts
  integration-tests/tests/specs/features/search/active-filters.dependent.spec.ts
Due: none

use a custom displayName for segments and references
  kubernetes/loculus/values.yaml
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/types/referencesGenomes.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: helm-lint

update schema
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

clean up
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

fix(backend): handle duplicate key race condition in extract-unprocessed-data
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
Due: none

add 4 replicas again
  kubernetes/loculus/values.yaml
Due: helm-lint

fix(backend): use (accession, version) pair filter in claim verification query
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
Due: none

Update kubernetes/loculus/values.yaml
  kubernetes/loculus/values.yaml
Due: helm-lint

feat(backend): handle race conditions in extract-unprocessed-data (#5956)
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
Due: none

deploy: bab40d31d7419c8b28e771d983a4b730b5cdd398
  index.html
  pagefind/fragment/en_18417d2.pf_fragment
  pagefind/fragment/en_f59986d.pf_fragment
  pagefind/index/en_14625f2.pf_index
  pagefind/index/en_8ea6f28.pf_index
  pagefind/index/en_f374cd1.pf_index
  pagefind/index/en_f554c19.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_a69fc41b5f.pf_meta
  pagefind/pagefind.en_ccd54ae81d.pf_meta
Due: none

data open at
  backend/src/main/kotlin/org/loculus/backend/model/ReleasedDataModel.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/GetReleasedDataEndpointTest.kt
  backend/src/test/kotlin/org/loculus/backend/utils/EarliestReleaseDateFinderTest.kt
  kubernetes/loculus/templates/_common-metadata.tpl
Due: helm-lint

feat(backend): add date became open to DUT metadata fields (#5935)
  backend/src/main/kotlin/org/loculus/backend/model/ReleasedDataModel.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/GetReleasedDataEndpointTest.kt
  backend/src/test/kotlin/org/loculus/backend/utils/EarliestReleaseDateFinderTest.kt
  kubernetes/loculus/templates/_common-metadata.tpl
Due: helm-lint

deploy: 0476b0ca82117c67c7ee54f44446741d002b4d76
  index.html
  pagefind/fragment/en_18417d2.pf_fragment
  pagefind/fragment/en_87fcf2a.pf_fragment
  pagefind/index/en_7c807e9.pf_index
  pagefind/index/en_d1267e9.pf_index
  pagefind/index/en_f374cd1.pf_index
  pagefind/index/en_f554c19.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_92d9dc3300.pf_meta
  pagefind/pagefind.en_a69fc41b5f.pf_meta
Due: none

fix links
  docs/src/content/docs/for-administrators/existing-preprocessing-pipelines.md
Due: none

fix(docs): repair broken links to prepro pipeline schemas (#5957)
  docs/src/content/docs/for-administrators/existing-preprocessing-pipelines.md
Due: none

deploy: a7ed1f049eda6111cba7af36c504ba0f702f20ad
  for-administrators/existing-preprocessing-pipelines/index.html
  index.html
  pagefind/fragment/en_5d7e1e8.pf_fragment
  pagefind/fragment/en_87fcf2a.pf_fragment
  pagefind/index/en_51f5f54.pf_index
  pagefind/index/en_6ccb79a.pf_index
  pagefind/index/en_7c807e9.pf_index
  pagefind/index/en_d1267e9.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_92d9dc3300.pf_meta
  pagefind/pagefind.en_e7c5ce5528.pf_meta
Due: none

testing
  loculus-silo/src/silo_import/decompressor.py
Due: none

feat(silo-import): use orjsonl to increase speed of parsing ndjson and only check pipeline version of first record
  loculus-silo/pyproject.toml
  loculus-silo/src/silo_import/decompressor.py
  loculus-silo/src/silo_import/download_manager.py
  loculus-silo/src/silo_import/lineage.py
  loculus-silo/src/silo_import/runner.py
Due: none

ignore
  loculus-silo/src/silo_import/decompressor.py
Due: none

feat(silo-import): use orjsonl to parse ndjson, only check pipeline version of first record (#5764)
  loculus-silo/pyproject.toml
  loculus-silo/src/silo_import/decompressor.py
  loculus-silo/src/silo_import/download_manager.py
  loculus-silo/src/silo_import/lineage.py
  loculus-silo/src/silo_import/runner.py
Due: none

deploy: 96e99cd905077d57cafcad593715ddee302001c7
  index.html
  pagefind/fragment/en_5d7e1e8.pf_fragment
  pagefind/fragment/en_e08ea3f.pf_fragment
  pagefind/index/en_51f5f54.pf_index
  pagefind/index/en_6ccb79a.pf_index
  pagefind/index/en_8a3f60d.pf_index
  pagefind/index/en_91898cc.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_88b55efdcb.pf_meta
  pagefind/pagefind.en_e7c5ce5528.pf_meta
Due: none

wupps
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
Due: none

add tests for regex_extraction function
  preprocessing/nextclade/tests/no_alignment_config.yaml
  preprocessing/nextclade/tests/test_metadata_processing_functions.py
Due: none
