Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.2
  hooks:
    # Run the linter and fix issues.
    - id: ruff-check
      args: [ --fix ]
      files: ^ena-submission/
    # Run the formatter.
    - id: ruff-format
      files: ^ena-submission/
- repo: local
  hooks:
    - id: prettier-values-schema
      name: prettier (values.schema.json)
      entry: npx prettier@3.6.2 --write
      language: system
      files: ^kubernetes/loculus/values\.schema\.json$
    - id: helm-lint
      name: helm lint
      entry: bash
      args:
        - -c
        - |
          set -euo pipefail
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_preview_server.yaml
      language: system
      pass_filenames: false
      files: ^kubernetes/loculus/

remove diamond from config
  kubernetes/loculus/values.yaml
Due: helm-lint

feat!(prepro, config): add diamond as a segment assignment option (#5838)
  backend/docs/organismWithSuborganisms.md
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/README.md
  preprocessing/nextclade/environment.yml
  preprocessing/nextclade/src/loculus_preprocessing/backend.py
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/datatypes.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/cchfv/diamond/diamond.dmnd
  preprocessing/nextclade/tests/multi_reference_config.yaml
  preprocessing/nextclade/tests/multi_segment_multi_reference.yaml
Due: prettier-values-schema, helm-lint

deploy: 039cdc7d47dd074a088fa873f1e89ecffd45c8f4
  index.html
  pagefind/fragment/en_3d8bab6.pf_fragment
  pagefind/fragment/en_4821f5a.pf_fragment
  pagefind/fragment/en_5bfb5d9.pf_fragment
  pagefind/fragment/en_9ce5323.pf_fragment
  pagefind/index/en_44e0dcc.pf_index
  pagefind/index/en_47783c2.pf_index
  pagefind/index/en_7f56c06.pf_index
  pagefind/index/en_923b9bc.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_79464746c4.pf_meta
  pagefind/pagefind.en_c572a74819.pf_meta
  reference/helm-chart-config/index.html
Due: none

feat(website): format
  website/.prettierrc
  website/README.md
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/pages/-testpage/index.mdx
  website/tests/config/README.md
Due: none

fixup
  kubernetes/loculus/values.yaml
Due: helm-lint

testing
  website/src/components/SearchPage/SearchFullUI.tsx
Due: none

update
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

more changes
  backend/docs/organismWithSuborganisms.md
  ena-submission/scripts/get_ena_submission_list.py
  ena-submission/src/ena_deposition/config.py
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/SuborganismSelector.spec.tsx
  website/src/components/SearchPage/SuborganismSelector.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SearchPage/stillRequiresSuborganismSelection.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/components/SequenceDetailsPage/getTableData.spec.ts
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.spec.ts
  website/src/config.ts
  website/src/pages/[organism]/index.astro
  website/src/pages/[organism]/search/index.astro
  website/src/types/config.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
  website/src/utils/serversideSearch.ts
Due: prettier-values-schema, helm-lint

fix up
  website/src/config.ts
Due: none

delete unused file
  website/src/components/SearchPage/ReferenceNameSelector.tsx
Due: none

fixup
  website/src/utils/serversideSearch.ts
Due: none

feat(config): update the config to use format decided on in slack
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  kubernetes/loculus/templates/_preprocessingFromValues.tpl
  kubernetes/loculus/templates/_siloDatabaseConfig.tpl
  kubernetes/loculus/templates/ingest-config.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

u
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

testing
  kubernetes/loculus/values.yaml
Due: helm-lint

small improvements
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/pages/[organism]/index.astro
  website/src/utils/getSegmentAndGeneInfo.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

remove duplication
  kubernetes/loculus/values.yaml
Due: helm-lint

fixup
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

update
  kubernetes/loculus/values.yaml
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/getSegmentAndGeneInfo.spec.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: helm-lint

fixup
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

fix reading in config
  website/src/components/ReviewPage/ReviewPage.spec.tsx
  website/src/components/ReviewPage/ReviewPage.tsx
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.spec.tsx
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
  website/src/components/SearchPage/SeqPreviewModal.tsx
  website/src/components/SearchPage/SuborganismSelector.spec.tsx
  website/src/components/SearchPage/SuborganismSelector.tsx
  website/src/components/SearchPage/fields/MutationField.spec.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SearchPage/stillRequiresSuborganismSelection.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/RevocationEntryDataTable.astro
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/config.ts
  website/src/pages/[organism]/search/index.astro
  website/src/pages/[organism]/submission/[groupId]/released.astro
  website/src/pages/[organism]/submission/[groupId]/review.astro
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/pages/seq/[accessionVersion]/index.astro
  website/src/types/config.ts
  website/src/types/referencesGenomes.ts
  website/src/utils/getSegmentAndGeneInfo.spec.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
  website/src/utils/serversideSearch.ts
Due: none

fix order of reference and segments
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: helm-lint

fix more code
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.spec.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SearchPage/isActiveForSelectedReferenceName.tsx
  website/src/components/SearchPage/isActiveForSelectedSuborganism.tsx
  website/src/config.spec.ts
  website/src/config.ts
  website/src/pages/[organism]/search/index.astro
  website/src/types/config.ts
  website/src/utils/search.spec.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix config
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

testing
  website/src/components/SearchPage/SearchForm.tsx
Due: none

up
  kubernetes/loculus/values.yaml
Due: helm-lint

more
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
Due: none

fixup
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

improve
  website/src/utils/serversideSearch.ts
Due: none

change prepro config as well
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

upd
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

format
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

fixup
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.ts
  website/src/types/config.ts
  website/src/types/referencesGenomes.ts
Due: none

fix more
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
Due: none

finally
  website/src/components/SequenceDetailsPage/getTableData.ts
Due: none

fixup
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

fixup
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: none
