Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

prettier-values-schema:
  name: prettier (values.schema.json)
  entry: npx prettier@3.6.2 --write
  language: system

helm-lint:
  name: helm lint
  entry: bash
  args:
  - -c
  - 'set -euo pipefail
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
  
  ...

fixup
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

fixup
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
Due: none

improve
  website/src/utils/serversideSearch.ts
Due: none

fix: dont duplicate reference selection on search page
  website/src/components/SearchPage/SearchForm.tsx
Due: none

fixup
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/pages/[organism]/search/index.astro
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: none

more deduplication
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix revocation viewer
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/types/detailsJson.ts
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: none

small improvements
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/pages/[organism]/index.astro
  website/src/utils/getSegmentAndGeneInfo.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

also add multiple references for the M segment
  kubernetes/loculus/values.yaml
Due: helm-lint

add multi-seg, multi-ref example
  kubernetes/loculus/values.yaml
Due: helm-lint

finally
  website/src/components/SequenceDetailsPage/getTableData.ts
Due: none

fixup
  website/src/utils/serversideSearch.ts
Due: none

clean up code
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix referenceSelector
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/types/referencesGenomes.ts
Due: none

fix more types
  website/src/components/ReviewPage/ReviewPage.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
Due: none

make reference selectable
  kubernetes/loculus/values.yaml
Due: helm-lint

improve more
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/utils/referenceSelection.ts
Due: none

fix selector
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

fix serverside search
  website/src/utils/serversideSearch.ts
Due: none

fixup
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

wupps
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  website/src/components/SearchPage/SearchForm.tsx
Due: helm-lint

fix order of reference and segments
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: helm-lint

delete search filters for referenceOnly fields
  website/src/components/SearchPage/useSearchPageState.ts
Due: none

cut down code complexity
  backend/docs/organismWithSuborganisms.md
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

fix more
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
Due: none

fix mutation search
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

more fixes
  kubernetes/loculus/values.yaml
  website/src/components/SequenceDetailsPage/getTableData.ts
Due: helm-lint

set state correctly
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/useSearchPageState.ts
Due: none

feat(website): format
  website/.prettierrc
  website/README.md
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/pages/-testpage/index.mdx
  website/tests/config/README.md
Due: none

more
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
Due: none

fix download button
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

fixup
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/Table.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/serversideSearch.ts
Due: none

improvements
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

more fixes
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  website/src/utils/sequenceTypeHelpers.ts
Due: helm-lint

ugly fix
  website/src/components/SequenceDetailsPage/getTableData.ts
Due: none

fix tests
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

fixup
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

fix integration tests
  kubernetes/loculus/values.yaml
Due: helm-lint

feat(config): rename referenceName to name (#5889)
  backend/docs/organismWithSuborganisms.md
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/multi_reference_config.yaml
  preprocessing/nextclade/tests/multi_segment_multi_reference.yaml
  website/src/types/referenceGenomes.spec.ts
  website/src/types/referencesGenomes.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: prettier-values-schema, helm-lint

fix integration test
  website/src/components/SequenceDetailsPage/RevocationEntryDataTable.astro
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/pages/seq/[accessionVersion]/index.astro
  website/src/utils/sequenceTypeHelpers.ts
Due: none

Path conditions:
  prettier-values-schema: any of: ^kubernetes/loculus/values\.schema\.json$
  helm-lint: any of: ^kubernetes/loculus/
