Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.2
  hooks:
    # Run the linter and fix issues.
    - id: ruff-check
      args: [ --fix ]
      files: ^ena-submission/
    # Run the formatter.
    - id: ruff-format
      files: ^ena-submission/
- repo: local
  hooks:
    - id: prettier-values-schema
      name: prettier (values.schema.json)
      entry: npx prettier@3.6.2 --write
      language: system
      files: ^kubernetes/loculus/values\.schema\.json$
    - id: helm-lint
      name: helm lint
      entry: bash
      args:
        - -c
        - |
          set -euo pipefail
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_preview_server.yaml
      language: system
      pass_filenames: false
      files: ^kubernetes/loculus/

docs: Add max to the website (#5857)
  docs/public/images/team/maxVerbiest-square.jpg
  docs/src/team.json
Due: none

deploy: e942efd3ae7d89695c5b8161785a5189a82fd401
  images/team/maxVerbiest-square.jpg
  index.html
  pagefind/fragment/en_1d15cce.pf_fragment
  pagefind/fragment/en_2a0f518.pf_fragment
  pagefind/index/en_1ae2e28.pf_index
  pagefind/index/en_8bdda42.pf_index
  pagefind/index/en_99ba92b.pf_index
  pagefind/index/en_e9ec643.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_3e784033a8.pf_meta
  pagefind/pagefind.en_a47fdf3bf9.pf_meta
Due: none

fix(website): fix selection bug in SearchFullUI when vertical shift
  website/src/components/SearchPage/Table.spec.tsx
  website/src/components/SearchPage/Table.tsx
Due: none

revert
  website/package-lock.json
Due: none

fix(website): change files icon on review page to be more distinct
  website/src/components/ReviewPage/ReviewCard.tsx
Due: none

fix selection 2
  website/src/components/SearchPage/Table.spec.tsx
  website/src/components/SearchPage/Table.tsx
Due: none

improve accessibility
  website/src/components/SearchPage/Table.tsx
Due: none

possible alternative selection fix (#5865)
  website/src/components/SearchPage/Table.spec.tsx
  website/src/components/SearchPage/Table.tsx
Due: none

fix(website): fix selection bug in Table when vertical shift (#5860)
  website/src/components/SearchPage/Table.spec.tsx
  website/src/components/SearchPage/Table.tsx
Due: none

deploy: 42e8c52a566c8ef6d972bcb8982d2f4f9f873126
  index.html
  pagefind/fragment/en_1d15cce.pf_fragment
  pagefind/fragment/en_5466994.pf_fragment
  pagefind/index/en_1ae2e28.pf_index
  pagefind/index/en_1dfc4e6.pf_index
  pagefind/index/en_1e5ddb2.pf_index
  pagefind/index/en_8bdda42.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_9dd9ab9867.pf_meta
  pagefind/pagefind.en_a47fdf3bf9.pf_meta
Due: none

fixup
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

up
  kubernetes/loculus/values.yaml
Due: helm-lint

fix reading in config
  website/src/components/ReviewPage/ReviewPage.spec.tsx
  website/src/components/ReviewPage/ReviewPage.tsx
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.spec.tsx
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
  website/src/components/SearchPage/SeqPreviewModal.tsx
  website/src/components/SearchPage/SuborganismSelector.spec.tsx
  website/src/components/SearchPage/SuborganismSelector.tsx
  website/src/components/SearchPage/fields/MutationField.spec.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SearchPage/stillRequiresSuborganismSelection.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/RevocationEntryDataTable.astro
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/config.ts
  website/src/pages/[organism]/search/index.astro
  website/src/pages/[organism]/submission/[groupId]/released.astro
  website/src/pages/[organism]/submission/[groupId]/review.astro
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/pages/seq/[accessionVersion]/index.astro
  website/src/types/config.ts
  website/src/types/referencesGenomes.ts
  website/src/utils/getSegmentAndGeneInfo.spec.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
  website/src/utils/serversideSearch.ts
Due: none

testing
  kubernetes/loculus/values.yaml
Due: helm-lint

fix order of reference and segments
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: helm-lint

fixup
  kubernetes/loculus/values.yaml
Due: helm-lint

update
  kubernetes/loculus/values.yaml
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/getSegmentAndGeneInfo.spec.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: helm-lint

fixup
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

feat(config): update the config to use format decided on in slack
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  kubernetes/loculus/templates/_preprocessingFromValues.tpl
  kubernetes/loculus/templates/_siloDatabaseConfig.tpl
  kubernetes/loculus/templates/ingest-config.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

fixup
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.ts
  website/src/types/config.ts
  website/src/types/referencesGenomes.ts
Due: none

format
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

update
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

u
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

feat(website): format
  website/.prettierrc
  website/README.md
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/pages/-testpage/index.mdx
  website/tests/config/README.md
Due: none

fixup
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

delete unused file
  website/src/components/SearchPage/ReferenceNameSelector.tsx
Due: none

upd
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

change prepro config as well
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

remove duplication
  kubernetes/loculus/values.yaml
Due: helm-lint

fix referenceSelector
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/types/referencesGenomes.ts
Due: none

fix revocation viewer
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/types/detailsJson.ts
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: none

testing
  website/src/components/SearchPage/SearchFullUI.tsx
Due: none

fix mutation search for EVs
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix more code
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.spec.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SearchPage/isActiveForSelectedReferenceName.tsx
  website/src/components/SearchPage/isActiveForSelectedSuborganism.tsx
  website/src/config.spec.ts
  website/src/config.ts
  website/src/pages/[organism]/search/index.astro
  website/src/types/config.ts
  website/src/utils/search.spec.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

add multi-seg, multi-ref example
  kubernetes/loculus/values.yaml
Due: helm-lint

fix download
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none
