Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

prettier-values-schema:
  name: prettier (values.schema.json)
  entry: npx prettier@3.6.2 --write
  language: system

helm-lint:
  name: helm lint
  entry: bash
  args:
  - -c
  - 'set -euo pipefail
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
  
  ...

more
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
Due: none

improve
  kubernetes/loculus/values.yaml
Due: helm-lint

more changes
  backend/docs/organismWithSuborganisms.md
  ena-submission/scripts/get_ena_submission_list.py
  ena-submission/src/ena_deposition/config.py
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/SuborganismSelector.spec.tsx
  website/src/components/SearchPage/SuborganismSelector.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SearchPage/stillRequiresSuborganismSelection.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/components/SequenceDetailsPage/getTableData.spec.ts
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.spec.ts
  website/src/config.ts
  website/src/pages/[organism]/index.astro
  website/src/pages/[organism]/search/index.astro
  website/src/types/config.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
  website/src/utils/serversideSearch.ts
Due: prettier-values-schema, helm-lint

testing
  website/src/components/SearchPage/SearchForm.tsx
Due: none

more fixes
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  website/src/utils/sequenceTypeHelpers.ts
Due: helm-lint

fix download button
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

fix: dont duplicate reference selection on search page
  website/src/components/SearchPage/SearchForm.tsx
Due: none

fix more
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
Due: none

get rid of warning
  website/src/config.ts
Due: none

small improvements
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/pages/[organism]/index.astro
  website/src/utils/getSegmentAndGeneInfo.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix integration tests
  kubernetes/loculus/values.yaml
Due: helm-lint

fix tests
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

fixup
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

fixup
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/pages/[organism]/search/index.astro
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: none

cut down code complexity
  backend/docs/organismWithSuborganisms.md
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

improve more
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/utils/referenceSelection.ts
Due: none

make reference selectable
  kubernetes/loculus/values.yaml
Due: helm-lint

fix reference selector again
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/utils/serversideSearch.ts
Due: none

more fixes
  kubernetes/loculus/values.yaml
  website/src/components/SequenceDetailsPage/getTableData.ts
Due: helm-lint

fix some bugs
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/types/referencesGenomes.ts
Due: none

also add multiple references for the M segment
  kubernetes/loculus/values.yaml
Due: helm-lint

fix mutation search
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix config
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

revert formatting changes
  website/.prettierrc
  website/README.md
  website/tests/config/README.md
Due: none

make referenceSelector for each segment
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/types/referencesGenomes.ts
Due: none

correct type
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/search.ts
  website/src/utils/serversideSearch.ts
Due: none

finally
  website/src/components/SequenceDetailsPage/getTableData.ts
Due: none

fix some bugs
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/config.ts
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/utils/serversideSearch.ts
Due: none

format
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/isActiveForSelectedReferenceName.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.ts
  website/src/pages/[organism]/index.astro
  website/src/pages/[organism]/submission/[groupId]/review.astro
  website/src/utils/referenceSelection.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix EVs
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

improvements
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fixes
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

wupps
  kubernetes/loculus/values.yaml
Due: helm-lint

fix selector
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

ugly fix
  website/src/components/SequenceDetailsPage/getTableData.ts
Due: none

extend for multi-segment
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/serversideSearch.ts
Due: none

fixup
  website/src/utils/serversideSearch.ts
Due: none

improve
  website/src/utils/serversideSearch.ts
Due: none

fix up
  website/src/config.ts
Due: none

fix revocation page bug
  website/src/components/SequenceDetailsPage/DataTable.tsx
Due: none

Path conditions:
  prettier-values-schema: any of: ^kubernetes/loculus/values\.schema\.json$
  helm-lint: any of: ^kubernetes/loculus/
