Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

prettier-values-schema:
  name: prettier (values.schema.json)
  entry: npx prettier@3.6.2 --write
  language: system

helm-lint:
  name: helm lint
  entry: bash
  args:
  - -c
  - 'set -euo pipefail
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
  
  ...

Update integration-tests/tests/specs/features/singleseg-multiref-submission-flow.spec.ts
  integration-tests/tests/specs/features/singleseg-multiref-submission-flow.spec.ts
Due: none

wupps
  website/src/components/SearchPage/fields/LineageField.tsx
Due: none

headlessUI
  integration-tests/tests/pages/search.page.ts
Due: none

use combobox input
  website/src/components/SearchPage/ReferenceSelector.tsx
Due: none

extract component
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/fields/AsyncCombobox.tsx
  website/src/components/SearchPage/fields/SingleChoiceAutoCompleteField.tsx
Due: none

testing
  integration-tests/tests/pages/search.page.ts
Due: none

fixup
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
Due: none

merge conflict
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
Due: none

wupps
  website/src/components/SearchPage/SearchFullUI.spec.tsx
Due: none

more clean up
  website/src/components/SearchPage/SearchForm.spec.tsx
Due: none

feat(deposition): update dry-run script to use open access group endpoint - making dry run submission easier!!!
  ena-submission/README.md
  ena-submission/scripts/deposition_dry_run.py
  ena-submission/src/ena_deposition/call_loculus.py
  ena-submission/src/ena_deposition/loculus_models.py
Due: none

fix integration tests
  integration-tests/tests/specs/features/search/lineage-field.spec.ts
Due: none

wupps
  integration-tests/tests/pages/search.page.ts
  integration-tests/tests/specs/features/singleseg-multiref-submission-flow.spec.ts
Due: none

feat: add orderOnDetailsPage docs
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

feat: add a detailsPageHeaders field to the values.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  website/src/components/SequenceDetailsPage/RevocationEntryDataTable.astro
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/getDataTableData.ts
  website/src/pages/seq/[accessionVersion]/index.astro
  website/src/types/config.ts
Due: prettier-values-schema, helm-lint

sort search fields using orderOnDetailsPage as well
  website/src/components/SearchPage/SearchForm.tsx
  website/src/types/config.ts
Due: none

add perSegment option
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

wip
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
Due: none

fix types
  website/src/components/SequenceDetailsPage/RevocationEntryDataTable.astro
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/getDataTableData.spec.ts
  website/src/components/SequenceDetailsPage/getDataTableData.ts
  website/src/types/config.ts
Due: none

wuppsi
  kubernetes/loculus/templates/_common-metadata.tpl
Due: helm-lint

update
  website/src/components/SearchPage/ReferenceSelector.tsx
Due: none

update
  integration-tests/tests/pages/search.page.ts
Due: none

format
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
Due: none

lint
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
Due: none

format
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
Due: none

claude suggestions
  kubernetes/loculus/values.schema.json
  website/src/components/SequenceDetailsPage/getDataTableData.ts
Due: prettier-values-schema, helm-lint

add more tests
  website/src/components/SequenceDetailsPage/getDataTableData.spec.ts
Due: none

upd
  integration-tests/tests/pages/search.page.ts
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
Due: none

simplify
  integration-tests/tests/pages/search.page.ts
Due: none

format
  integration-tests/tests/pages/search.page.ts
Due: none

cleanup the old setter
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/utils/referenceSelection.ts
Due: none

feat(website): use standard autocomplete field for reference selector (#5968)
  integration-tests/tests/pages/search.page.ts
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/utils/referenceSelection.ts
Due: none

deploy: c92817bb08caea70276f3d0607caa6779ffabd67
  index.html
  pagefind/fragment/en_78d66af.pf_fragment
  pagefind/fragment/en_f9ce930.pf_fragment
  pagefind/index/en_5061c34.pf_index
  pagefind/index/en_5eb5887.pf_index
  pagefind/index/en_5ee4a29.pf_index
  pagefind/index/en_e48f43c.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2526243329.pf_meta
  pagefind/pagefind.en_e7c1296ff3.pf_meta
Due: none

feat(backend,silo-import): add incremental preprocessing with silo append
  backend/src/main/kotlin/org/loculus/backend/controller/SubmissionController.kt
  backend/src/main/kotlin/org/loculus/backend/model/ReleasedDataModel.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
  loculus-silo/src/silo_import/config.py
  loculus-silo/src/silo_import/download_manager.py
  loculus-silo/src/silo_import/instruct_silo.py
  loculus-silo/src/silo_import/runner.py
  loculus-silo/tests/test_instruct_silo.py
  loculus-silo/tests/test_integration.py
  loculus-silo/tests/test_runner.py
Due: none

feat: use new referenceSelector
  integration-tests/tests/pages/search.page.ts
  integration-tests/tests/specs/features/search/active-filters.dependent.spec.ts
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/common/FieldSelectorModal.tsx
  website/src/types/config.ts
  website/src/utils/search.spec.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.spec.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: prettier-values-schema, helm-lint

feat: add all mutations
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  website/src/components/DataUseTerms/EditDataUseTermsModal.tsx
  website/src/components/SearchPage/DisplaySearchDocs.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadButton.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadUrlGenerator.ts
  website/src/components/SearchPage/DownloadDialog/LinkOutMenu.tsx
  website/src/components/SearchPage/DownloadDialog/SequenceFilters.tsx
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/fields/MutationField.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/components/SequenceDetailsPage/DataTableEntryValue.tsx
  website/src/components/SequenceDetailsPage/MutationBadge.tsx
  website/src/components/SequenceDetailsPage/getTableData.spec.ts
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/types/config.ts
  website/src/types/referencesGenomes.ts
  website/src/utils/mutation.spec.ts
  website/src/utils/mutation.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
  website/src/utils/serversideSearch.ts
Due: prettier-values-schema, helm-lint

feat: add mutation search
  integration-tests/tests/pages/search.page.ts
  integration-tests/tests/specs/features/search/active-filters.dependent.spec.ts
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  website/src/components/DataUseTerms/EditDataUseTermsModal.tsx
  website/src/components/SearchPage/DisplaySearchDocs.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadButton.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadUrlGenerator.ts
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.spec.tsx
  website/src/components/SearchPage/DownloadDialog/LinkOutMenu.tsx
  website/src/components/SearchPage/DownloadDialog/SequenceFilters.tsx
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/fields/MutationField.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/components/SequenceDetailsPage/DataTableEntryValue.tsx
  website/src/components/SequenceDetailsPage/MutationBadge.tsx
  website/src/components/SequenceDetailsPage/getTableData.spec.ts
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/components/common/FieldSelectorModal.tsx
  website/src/types/config.ts
  website/src/types/referencesGenomes.ts
  website/src/utils/mutation.spec.ts
  website/src/utils/mutation.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/search.spec.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.spec.ts
  website/src/utils/sequenceTypeHelpers.ts
  website/src/utils/serversideSearch.ts
Due: prettier-values-schema, helm-lint

fix some tests
  website/src/types/referenceGenomes.spec.ts
  website/src/utils/search.spec.ts
Due: none

other tests
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadUrlGenerator.spec.ts
  website/src/components/SearchPage/DownloadDialog/LinkOutMenu.spec.tsx
  website/src/components/common/ActiveFilters.spec.tsx
  website/src/utils/mutation.spec.ts
Due: none

fix
  backend/src/main/kotlin/org/loculus/backend/controller/SubmissionController.kt
  integration-tests/AGENTS.md
  loculus-silo/uv.lock
Due: none

Path conditions:
  prettier-values-schema: any of: ^kubernetes/loculus/values\.schema\.json$
  helm-lint: any of: ^kubernetes/loculus/
