Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.2
  hooks:
    # Run the linter and fix issues.
    - id: ruff-check
      args: [ --fix ]
      files: ^ena-submission/
    # Run the formatter.
    - id: ruff-format
      files: ^ena-submission/
- repo: local
  hooks:
    - id: prettier-values-schema
      name: prettier (values.schema.json)
      entry: npx prettier@3.6.2 --write
      language: system
      files: ^kubernetes/loculus/values\.schema\.json$
    - id: helm-lint
      name: helm lint
      entry: bash
      args:
        - -c
        - |
          set -euo pipefail
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_preview_server.yaml
      language: system
      pass_filenames: false
      files: ^kubernetes/loculus/

Update EVs minimizers adding clades and RVs
  kubernetes/loculus/values.yaml
Due: helm-lint

remove migration code
  backend/src/main/resources/db/migration/V1.21__drop_migration_check_column.sql
Due: none

update
  docs/src/content/docs/for-administrators/my-first-loculus.md
  docs/src/content/docs/for-administrators/setup-with-k3d-and-nginx.mdx
  docs/src/content/docs/for-administrators/setup-with-kubernetes.md
  docs/src/content/docs/reference/helm-chart-config.mdx
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/README.md
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/multi_segment_config_unaligned.yaml
  preprocessing/nextclade/tests/single_segment_config.yaml
  preprocessing/nextclade/tests/test_metadata_processing_functions.py
Due: prettier-values-schema, helm-lint

merge conflict
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

make fasta id separator a constant (#5507)
  backend/src/main/kotlin/org/loculus/backend/controller/SubmissionControllerDescriptions.kt
  backend/src/main/kotlin/org/loculus/backend/model/SubmitModel.kt
  backend/src/main/kotlin/org/loculus/backend/utils/MetadataEntry.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/ReviseEndpointTest.kt
  ingest/scripts/heuristic_group_segments.py
  website/src/components/Edit/SequencesForm.tsx
  website/src/types/config.ts
Due: none

refactorings of prepro multi-segment (#5552)
  preprocessing/nextclade/src/loculus_preprocessing/backend.py
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/ebola-dataset/ebola-sudan/.gitignore
  preprocessing/nextclade/tests/factory_methods.py
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

feat(prepro): batch segment assignment
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/datatypes.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: helm-lint

make order of functions a bit cleaner
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

fix integration tests
  integration-tests/tests/readonly.setup.ts
  integration-tests/tests/specs/features/revise-sequence.spec.ts
Due: none

Assign genotype in prepro (#5551)
  kubernetes/loculus/templates/ingest-config.yaml
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: helm-lint

make diff cleaner
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

feat(prepro): refactor - more nextclade functions to their own file, make the process_single cleaner
  preprocessing/nextclade/src/loculus_preprocessing/__init__.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

ingest from higher level EV taxon
  kubernetes/loculus/values.yaml
Due: helm-lint

create a separate interface for files with a fasta header (#5495)
  website/src/components/Edit/SequencesForm.tsx
  website/src/components/Submission/FileUpload/FileUploadComponent.tsx
  website/src/components/Submission/FileUpload/fileProcessing.spec.ts
  website/src/components/Submission/FileUpload/fileProcessing.ts
Due: none

feat: add validation of map, update integration tests and add prepro tests (#5500)
  backend/src/main/kotlin/org/loculus/backend/service/submission/ProcessedSequenceEntryValidator.kt
  backend/src/main/kotlin/org/loculus/backend/utils/MetadataEntry.kt
  ingest/scripts/heuristic_group_segments.py
  ingest/tests/expected_output_cchf/submit_metadata.tsv
  preprocessing/dummy/main.py
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

feat: clean up edit page PR a bit (#5396)
  integration-tests/tests/fixtures/sequence.fixture.ts
  integration-tests/tests/readonly.setup.ts
  integration-tests/tests/specs/features/revise-sequence.spec.ts
  integration-tests/tests/specs/features/search/override-hidden-fields.spec.ts
  integration-tests/tests/specs/features/sequence-view.dependent.spec.ts
  integration-tests/tests/specs/features/single-submit.spec.ts
  integration-tests/tests/specs/features/submission-flow.spec.ts
  integration-tests/tests/specs/features/trim-ns.spec.ts
  website/src/components/Edit/SequencesForm.spec.tsx
  website/src/components/Edit/SequencesForm.tsx
  website/src/components/Submission/FormOrUploadWrapper.tsx
Due: none

fix backend
  backend/docs/db/schema.sql
  backend/src/main/kotlin/org/loculus/backend/controller/SubmissionControllerDescriptions.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/UploadDatabaseService.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/dbtables/MetadataUploadAuxTable.kt
  backend/src/main/resources/db/migration/V1.22__refactor_aux_tables.sql
  backend/src/test/kotlin/org/loculus/backend/controller/submission/SubmitEndpointTest.kt
  integration-tests/tests/specs/features/revise-sequence.spec.ts
  website/src/components/Submission/FileUpload/fileProcessing.spec.ts
Due: none

format
  preprocessing/nextclade/src/loculus_preprocessing/__init__.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

use white space as a separator everywhere (#5501)
  backend/src/main/kotlin/org/loculus/backend/model/SubmitModel.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/ReviseEndpointTest.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/SubmitEndpointFileSharingTest.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/SubmitEndpointTest.kt
  integration-tests/tests/specs/cli/end-to-end-flow.spec.ts
  integration-tests/tests/test-data/cchfv_test_metadata.tsv
  website/src/components/Edit/SequencesForm.tsx
Due: none

silly formatting error
  backend/src/main/kotlin/org/loculus/backend/model/SubmitModel.kt
  backend/src/main/kotlin/org/loculus/backend/utils/MetadataEntry.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/SubmitEndpointTest.kt
  backend/src/test/kotlin/org/loculus/backend/utils/MetadataEntryTest.kt
  backend/src/test/resources/metadata_multi_segment.tsv
  backend/src/test/resources/revised_metadata_multi_segment.tsv
Due: none

format
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

feat: update edit page
  integration-tests/tests/pages/submission.page.ts
  integration-tests/tests/specs/features/revise-sequence.spec.ts
  website/src/components/Edit/EditPage.spec.tsx
  website/src/components/Edit/EditPage.tsx
  website/src/components/Edit/SequencesForm.spec.tsx
  website/src/components/Edit/SequencesForm.tsx
  website/src/components/Submission/FileUpload/fileProcessing.ts
  website/src/components/Submission/FormOrUploadWrapper.spec.tsx
  website/src/components/Submission/FormOrUploadWrapper.tsx
  website/src/components/Submission/SubmissionForm.spec.tsx
  website/src/pages/[organism]/submission/edit/[accession]/[version].astro
Due: none

pass less through function
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

feat: rename sequenceNameToFastaHeaderMap to sequenceNameToFastaId
  backend/src/main/kotlin/org/loculus/backend/api/SubmissionTypes.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/CompressionService.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/EmptyProcessedDataProvider.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/ProcessedSequenceEntryValidator.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/PreparedProcessedData.kt
  backend/src/test/kotlin/org/loculus/backend/service/ProcessedMetadataPostprocessorTest.kt
  backend/src/test/kotlin/org/loculus/backend/service/ProcessedSequencesPostprocessorTest.kt
  backend/src/test/kotlin/org/loculus/backend/utils/EarliestReleaseDateFinderTest.kt
  preprocessing/dummy/main.py
  preprocessing/nextclade/src/loculus_preprocessing/datatypes.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/factory_methods.py
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
  preprocessing/specification.md
  website/src/components/Edit/SequencesForm.tsx
  website/src/components/ReviewPage/SequencesDialog.spec.tsx
  website/src/types/backend.ts
  website/vitest.setup.ts
Due: none

wupps
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

feat: add some suggestions
  website/src/components/Edit/EditPage.tsx
  website/src/components/Edit/SequencesForm.spec.tsx
  website/src/components/Edit/SequencesForm.tsx
Due: none

merge conflict
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

feat(prepro): deduplicate segment assignment code and add tests (#5554)
  preprocessing/nextclade/src/loculus_preprocessing/datatypes.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/ebola-dataset/ebola-sudan/minimizer/minimizer.json
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/single_segment_config.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

feat(prepro, config): use new EV datasets and fix gene alignment for multi-path by prepro (#5563)
  docs/src/content/docs/for-administrators/my-first-loculus.md
  docs/src/content/docs/for-administrators/setup-with-k3d-and-nginx.mdx
  docs/src/content/docs/for-administrators/setup-with-kubernetes.md
  kubernetes/loculus/templates/loculus-preprocessing-config.yaml
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/single_segment_config.yaml
Due: helm-lint

Add maxSequencesPerEntry option and validate no duplicate fastaIds (#5559)
  backend/AGENTS.md
  backend/src/main/kotlin/org/loculus/backend/config/Config.kt
  backend/src/main/kotlin/org/loculus/backend/config/ReferenceGenome.kt
  backend/src/main/kotlin/org/loculus/backend/model/SubmitModel.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/UploadDatabaseService.kt
  backend/src/main/kotlin/org/loculus/backend/utils/MetadataEntry.kt
  backend/src/test/kotlin/org/loculus/backend/utils/MetadataEntryTest.kt
  kubernetes/loculus/templates/_submission-data-types.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

weird merge conflict
  backend/src/main/kotlin/org/loculus/backend/service/submission/CompressionService.kt
Due: none

Apply suggestions from code review
  backend/src/main/kotlin/org/loculus/backend/model/SubmitModel.kt
  website/src/config.ts
Due: none

feat(config): update values.schema.json for multi path (#5582)
  docs/src/content/docs/for-administrators/my-first-loculus.md
  docs/src/content/docs/for-administrators/setup-with-k3d-and-nginx.mdx
  docs/src/content/docs/for-administrators/setup-with-kubernetes.md
  docs/src/content/docs/reference/helm-chart-config.mdx
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/README.md
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/multi_segment_config_unaligned.yaml
  preprocessing/nextclade/tests/single_segment_config.yaml
  preprocessing/nextclade/tests/test_metadata_processing_functions.py
Due: prettier-values-schema, helm-lint

Separate test datasets, don't copy in tests
  preprocessing/nextclade/tests/ebola-dataset/ebola-sudan/.gitignore
  preprocessing/nextclade/tests/ebola-dataset/ebola-sudan/main/genome_annotation.gff3
  preprocessing/nextclade/tests/ebola-dataset/ebola-sudan/main/pathogen.json
  preprocessing/nextclade/tests/ebola-dataset/ebola-sudan/main/reference.fasta
  preprocessing/nextclade/tests/ebola-dataset/ebola-zaire/main/genome_annotation.gff3
  preprocessing/nextclade/tests/ebola-dataset/ebola-zaire/main/pathogen.json
  preprocessing/nextclade/tests/ebola-dataset/ebola-zaire/main/reference.fasta
  preprocessing/nextclade/tests/ebola-multipath-dataset/ebola-sudan/genome_annotation.gff3
  preprocessing/nextclade/tests/ebola-multipath-dataset/ebola-sudan/pathogen.json
  preprocessing/nextclade/tests/ebola-multipath-dataset/ebola-sudan/reference.fasta
  preprocessing/nextclade/tests/ebola-multipath-dataset/ebola-zaire/genome_annotation.gff3
  preprocessing/nextclade/tests/ebola-multipath-dataset/ebola-zaire/pathogen.json
  preprocessing/nextclade/tests/ebola-multipath-dataset/ebola-zaire/reference.fasta
  preprocessing/nextclade/tests/ebola-multipath-dataset/minimizer/minimizer.json
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

feat(docs, website): multi path - update submission docs and templates with correct fields (#5561)
  backend/src/main/kotlin/org/loculus/backend/controller/SubmissionControllerDescriptions.kt
  backend/src/main/kotlin/org/loculus/backend/model/SubmitModel.kt
  backend/src/main/kotlin/org/loculus/backend/utils/MetadataEntry.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/SubmitEndpointTest.kt
  backend/src/test/resources/metadata_multi_segment.tsv
  backend/src/test/resources/revised_metadata_multi_segment.tsv
  docs/src/content/docs/for-users/submit-sequences.md
  docs/src/content/docs/reference/fasta-format.md
  ingest/scripts/heuristic_group_segments.py
  ingest/tests/expected_output_cchf/revise_metadata.tsv
  ingest/tests/expected_output_cchf/submit_metadata.tsv
  integration-tests/tests/specs/cli/end-to-end-flow.spec.ts
  integration-tests/tests/test-data/cchfv_test_metadata.tsv
  integration-tests/tests/test-data/cchfv_test_metadata.tsv.zst
  website/src/components/Edit/EditPage.tsx
  website/src/components/Edit/MetadataForm.tsx
  website/src/components/Edit/SequencesForm.tsx
  website/src/components/Submission/FileUpload/SequenceEntryUploadComponent.tsx
  website/src/components/Submission/FormOrUploadWrapper.tsx
  website/src/config.ts
  website/src/pages/[organism]/metadata-overview/index.ts
  website/src/settings.ts
  website/src/types/config.ts
Due: none

Integration test fix (#5560)
  docs/src/content/docs/for-administrators/my-first-loculus.md
  docs/src/content/docs/for-administrators/setup-with-k3d-and-nginx.mdx
  integration-tests/tests/test-data/cchfv_test_metadata.tsv.zst
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/README.md
Due: helm-lint

fix(prepro): nextclade dataset tag was converted to a list of characters and caused prepro failure
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

silly formatting bug
  backend/src/main/kotlin/org/loculus/backend/utils/MetadataEntry.kt
Due: none

deploy: f4f8d4e061199a8dcd68fb975c7e6b40af2ecbb7
  index.html
  pagefind/fragment/en_54ac295.pf_fragment
  pagefind/fragment/en_e0d0c09.pf_fragment
  pagefind/index/en_3999789.pf_index
  pagefind/index/en_b91c894.pf_index
  pagefind/index/en_c415f4b.pf_index
  pagefind/index/en_d485f87.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_9e1b5e1cdb.pf_meta
  pagefind/pagefind.en_bef22dcef7.pf_meta
Due: none
