Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.2
  hooks:
    # Run the linter and fix issues.
    - id: ruff-check
      args: [ --fix ]
      files: ^ena-submission/
    # Run the formatter.
    - id: ruff-format
      files: ^ena-submission/
- repo: local
  hooks:
    - id: prettier-values-schema
      name: prettier (values.schema.json)
      entry: npx prettier@3.6.2 --write
      language: system
      files: ^kubernetes/loculus/values\.schema\.json$
    - id: helm-lint
      name: helm lint
      entry: bash
      args:
        - -c
        - |
          set -euo pipefail
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_preview_server.yaml
      language: system
      pass_filenames: false
      files: ^kubernetes/loculus/

fix selector
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

correct type
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/search.ts
  website/src/utils/serversideSearch.ts
Due: none

ugly fix
  website/src/components/SequenceDetailsPage/getTableData.ts
Due: none

finally
  website/src/components/SequenceDetailsPage/getTableData.ts
Due: none

fixes
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

also add multiple references for the M segment
  kubernetes/loculus/values.yaml
Due: helm-lint

more fixes
  kubernetes/loculus/values.yaml
  website/src/components/SequenceDetailsPage/getTableData.ts
Due: helm-lint

improve
  website/src/utils/serversideSearch.ts
Due: none

fix revocation viewer
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/types/detailsJson.ts
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: none

more changes
  backend/docs/organismWithSuborganisms.md
  ena-submission/scripts/get_ena_submission_list.py
  ena-submission/src/ena_deposition/config.py
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/SuborganismSelector.spec.tsx
  website/src/components/SearchPage/SuborganismSelector.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SearchPage/stillRequiresSuborganismSelection.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/components/SequenceDetailsPage/getTableData.spec.ts
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.spec.ts
  website/src/config.ts
  website/src/pages/[organism]/index.astro
  website/src/pages/[organism]/search/index.astro
  website/src/types/config.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
  website/src/utils/serversideSearch.ts
Due: prettier-values-schema, helm-lint

fix more
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
Due: none

add multi-seg, multi-ref example
  kubernetes/loculus/values.yaml
Due: helm-lint

fix integration tests
  kubernetes/loculus/values.yaml
Due: helm-lint

wupps
  kubernetes/loculus/values.yaml
Due: helm-lint

fix: dont duplicate reference selection on search page
  website/src/components/SearchPage/SearchForm.tsx
Due: none

fixup
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
Due: none

cut down code complexity
  backend/docs/organismWithSuborganisms.md
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

fix reference selector again
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/utils/serversideSearch.ts
Due: none

improvements
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fixup
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/pages/[organism]/search/index.astro
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: none

fixup
  website/src/utils/serversideSearch.ts
Due: none

revert formatting changes
  website/.prettierrc
  website/README.md
  website/tests/config/README.md
Due: none

small improvements
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/pages/[organism]/index.astro
  website/src/utils/getSegmentAndGeneInfo.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

wupps
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  website/src/components/SearchPage/SearchForm.tsx
Due: helm-lint

make referenceSelector for each segment
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/types/referencesGenomes.ts
Due: none

fix download button
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

fix config
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

fix some bugs
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/config.ts
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/utils/serversideSearch.ts
Due: none

fix tests
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

more
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
Due: none

clean up code
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

start fixing tests
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/types/referenceGenomes.spec.ts
Due: none

fixup
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/Table.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/serversideSearch.ts
Due: none

fix serverside search
  website/src/utils/serversideSearch.ts
Due: none

clean up types in tests
  website/src/components/ReviewPage/SequencesDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.spec.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceViewer.spec.tsx
  website/src/components/SequenceDetailsPage/getTableData.spec.ts
  website/src/components/common/ActiveFilters.spec.tsx
  website/src/config.spec.ts
  website/src/types/referenceGenomes.spec.ts
  website/src/utils/search.spec.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix some import order issues
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

delete search filters for referenceOnly fields
  website/src/components/SearchPage/useSearchPageState.ts
Due: none

more deduplication
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix up
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/common/FieldSelectorModal.tsx
  website/src/utils/search.spec.ts
  website/src/utils/search.ts
  website/src/utils/serversideSearch.ts
Due: none

add more tests
  website/src/utils/sequenceTypeHelpers.spec.ts
Due: none
