Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

prettier-values-schema:
  name: prettier (values.schema.json)
  entry: npx prettier@3.6.2 --write
  language: system

helm-lint:
  name: helm lint
  entry: bash
  args:
  - -c
  - 'set -euo pipefail
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
  
  ...

improve readability
  website/src/utils/referenceSelection.ts
Due: none

fix types
  website/src/utils/referenceSelection.ts
Due: none

add new select component with DisabledUntilHydrated react wrapper
  website/src/components/Group/Inputs.tsx
  website/src/components/SearchPage/DownloadDialog/OptionBlock.tsx
  website/src/components/SearchPage/SuborganismSelector.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/components/common/Select.tsx
Due: none

wupps
  website/src/components/common/Select.tsx
Due: none

test
  website/src/components/SearchPage/SearchForm.tsx
  website/src/utils/referenceSelection.ts
Due: none

add
  website/src/components/OrganismMetadataTable/OrganismMetadataTableSelector.tsx
Due: none

testing
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/serversideSearch.ts
Due: none

feat(integration): add integration tests for mutations search (#5886)
  integration-tests/tests/pages/search.page.ts
  integration-tests/tests/specs/features/search/active-filters.dependent.spec.ts
  website/src/components/Group/Inputs.tsx
  website/src/components/OrganismMetadataTable/OrganismMetadataTableSelector.tsx
  website/src/components/SearchPage/DownloadDialog/OptionBlock.tsx
  website/src/components/SearchPage/SuborganismSelector.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/components/common/Select.tsx
Due: none

deploy: 38ec6ea61a84303315c29773e5a724a0a1269ecf
  index.html
  pagefind/fragment/en_19d62e8.pf_fragment
  pagefind/fragment/en_bacd5d2.pf_fragment
  pagefind/index/en_3d87c6e.pf_index
  pagefind/index/en_4f6ce8b.pf_index
  pagefind/index/en_b20df28.pf_index
  pagefind/index/en_b819c16.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_84b6831385.pf_meta
  pagefind/pagefind.en_8b2e7f9c4a.pf_meta
Due: none

deploy: 142dbdba4e48e676d05b89752d9b627decfe2cc4
  index.html
  pagefind/fragment/en_19d62e8.pf_fragment
  pagefind/fragment/en_fe7ef88.pf_fragment
  pagefind/index/en_4f6ce8b.pf_index
  pagefind/index/en_b819c16.pf_index
  pagefind/index/en_c5c1bc9.pf_index
  pagefind/index/en_f6b9691.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_6743f5c74e.pf_meta
  pagefind/pagefind.en_84b6831385.pf_meta
Due: none

deploy: 78ce5af6405232193c34d1ae39fa1c0ba93f9f4a
  index.html
  pagefind/fragment/en_8983689.pf_fragment
  pagefind/fragment/en_e8dc7be.pf_fragment
  pagefind/index/en_31cb8b8.pf_index
  pagefind/index/en_95141c5.pf_index
  pagefind/index/en_a82966d.pf_index
  pagefind/index/en_fcea13f.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_849b263be4.pf_meta
  pagefind/pagefind.en_bf2dc7b96a.pf_meta
Due: none

format
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/Submission/FileUpload/FileUploadComponent.tsx
Due: none

deploy: 88e29b9dd9478d5dd4e52e95c569dca4723449dd
  index.html
  pagefind/fragment/en_20eb675.pf_fragment
  pagefind/fragment/en_8983689.pf_fragment
  pagefind/index/en_95141c5.pf_index
  pagefind/index/en_ba54223.pf_index
  pagefind/index/en_dcbe435.pf_index
  pagefind/index/en_fcea13f.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_a2fc2e7fb0.pf_meta
  pagefind/pagefind.en_bf2dc7b96a.pf_meta
Due: none

pull through config setting
  ingest/Snakefile
  ingest/config/defaults.yaml
  ingest/scripts/override_group_segments.py
Due: none

fix a Snakefile issue
  ingest/Snakefile
Due: none

WIP
  ingest/scripts/override_group_segments.py
Due: none

docs and mini refactorings
  ingest/scripts/override_group_segments.py
Due: none

add log line
  ingest/scripts/override_group_segments.py
Due: none

fix again
  ingest/Snakefile
Due: none

address review
  ingest/scripts/override_group_segments.py
Due: none

silo binary
  kubernetes/loculus/silo_import_wrapper.sh
  kubernetes/loculus/templates/_siloDatabaseConfig.tpl
  kubernetes/loculus/templates/lapis-silo-database-config.yaml
  kubernetes/loculus/templates/silo-deployment.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  silo-import/src/silo_import/lineage.py
Due: prettier-values-schema, helm-lint

directly call the binary, remove sentinel
  kubernetes/loculus/silo_import_wrapper.sh
  kubernetes/loculus/templates/lapis-silo-database-config.yaml
  kubernetes/loculus/templates/silo-deployment.yaml
  silo-import/src/silo_import/__main__.py
  silo-import/src/silo_import/config.py
  silo-import/src/silo_import/constants.py
  silo-import/src/silo_import/instruct_silo.py
  silo-import/src/silo_import/lineage.py
  silo-import/src/silo_import/paths.py
  silo-import/src/silo_import/runner.py
  silo-import/tests/helpers.py
  silo-import/tests/test_instruct_silo.py
  silo-import/tests/test_integration.py
  silo-import/tests/test_runner.py
  silo-import/uv.lock
Due: helm-lint

cleanup and move some stuff to simplify
  silo-import/src/silo_import/download_manager.py
  silo-import/src/silo_import/file_io.py
  silo-import/src/silo_import/hash_comparator.py
  silo-import/src/silo_import/validator.py
Due: none

dedupe
  kubernetes/loculus/templates/_siloDatabaseConfig.tpl
  kubernetes/loculus/templates/lapis-silo-database-config.yaml
  kubernetes/loculus/templates/silo-deployment.yaml
Due: helm-lint

fix types
  silo-import/tests/test_integration.py
  silo-import/tests/test_runner.py
Due: none

fixups
  silo-import/src/silo_import/paths.py
  silo-import/tests/test_integration.py
Due: none

simplify
  kubernetes/loculus/templates/silo-deployment.yaml
  silo-import/Dockerfile
Due: helm-lint

removed unused lockfile
  silo-import/uv.lock
Due: none

rename
  .github/dependabot.yml
  .github/workflows/build-arm-images.yaml
  .github/workflows/loculus-silo-image.yml
  .github/workflows/loculus-silo-tests.yml
  .github/workflows/update-argocd-metadata.yml
  kubernetes/loculus/templates/silo-deployment.yaml
  kubernetes/loculus/values.yaml
  loculus-silo/.mypy.ini
  loculus-silo/Dockerfile
  loculus-silo/README.md
  loculus-silo/pyproject.toml
  loculus-silo/src/silo_import/__init__.py
  loculus-silo/src/silo_import/__main__.py
  loculus-silo/src/silo_import/config.py
  loculus-silo/src/silo_import/constants.py
  loculus-silo/src/silo_import/decompressor.py
  loculus-silo/src/silo_import/download_manager.py
  loculus-silo/src/silo_import/errors.py
  loculus-silo/src/silo_import/filesystem.py
  loculus-silo/src/silo_import/instruct_silo.py
  loculus-silo/src/silo_import/lineage.py
  loculus-silo/src/silo_import/paths.py
  loculus-silo/src/silo_import/runner.py
  loculus-silo/src/silo_import/transformer.py
  loculus-silo/tests/helpers.py
  loculus-silo/tests/test_config.py
  loculus-silo/tests/test_instruct_silo.py
  loculus-silo/tests/test_integration.py
  loculus-silo/tests/test_runner.py
Due: helm-lint

clean
  .github/scripts/wait_for_pods_to_be_ready.py
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  loculus-silo/README.md
Due: prettier-values-schema, helm-lint

update
  loculus-silo/Dockerfile
  loculus-silo/src/silo_import/config.py
Due: none

continue rename
  kubernetes/loculus/templates/silo-deployment.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

restore test functionality
  loculus-silo/tests/test_integration.py
Due: none

revert agents.md changes that are mostly unrelated
  integration-tests/AGENTS.md
Due: none

update
  kubernetes/loculus/values.yaml
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/getSegmentAndGeneInfo.spec.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: helm-lint

testing
  kubernetes/loculus/values.yaml
Due: helm-lint

fixup
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

fixup
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

change prepro config as well
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

Path conditions:
  prettier-values-schema: any of: ^kubernetes/loculus/values\.schema\.json$
  helm-lint: any of: ^kubernetes/loculus/
