Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

prettier-values-schema:
  name: prettier (values.schema.json)
  entry: npx prettier@3.6.2 --write
  language: system

helm-lint:
  name: helm lint
  entry: bash
  args:
  - -c
  - 'set -euo pipefail
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
  
  ...

chore(backend): Improve logging around get-released-data components
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
Due: none

chore(backend): ktlint format
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/dbtables/ReleasedSubmissionsFunction.kt
Due: none

format/lint
  backend/src/main/kotlin/org/loculus/backend/model/ReleasedDataModel.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
Due: none

Update schema documentation based on migration changes
  backend/docs/db/schema.sql
Due: none

u
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

docs: add TODO
  backend/docs/organismWithSuborganisms.md
Due: none

feat(ingest): add fastaIds when using grouping override
  ingest/scripts/override_group_segments.py
Due: none

format
  ingest/scripts/heuristic_group_segments.py
  ingest/scripts/override_group_segments.py
Due: none

fix(ingest): add fastaIds when using grouping override (#5725)
  ingest/scripts/heuristic_group_segments.py
  ingest/scripts/override_group_segments.py
Due: none

deploy: 539529b4095c57c9be7b8c0095f6fd4e5e55b36f
  index.html
  pagefind/fragment/en_9c94b26.pf_fragment
  pagefind/fragment/en_ca5e63e.pf_fragment
  pagefind/index/en_316dfa3.pf_index
  pagefind/index/en_a615607.pf_index
  pagefind/index/en_a7e857e.pf_index
  pagefind/index/en_c452b2e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1bd5fd45a5.pf_meta
  pagefind/pagefind.en_2418b4da81.pf_meta
Due: none

ci: skip Claude code review for dependabot PRs
  .github/workflows/claude-code-review.yml
Due: none

ci: Disable claude review for dependabot PRs (#5726)
  .github/workflows/claude-code-review.yml
Due: none

deploy: d329efa09a9a730497fb88453d010f84a9f5fbf7
  index.html
  pagefind/fragment/en_71d2b5e.pf_fragment
  pagefind/fragment/en_9c94b26.pf_fragment
  pagefind/index/en_316dfa3.pf_index
  pagefind/index/en_8746411.pf_index
  pagefind/index/en_c452b2e.pf_index
  pagefind/index/en_f608e65.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2418b4da81.pf_meta
  pagefind/pagefind.en_c6a896ab3b.pf_meta
Due: none

perf(backend): optimize sequence_entries_view with LATERAL join
  backend/src/main/resources/db/migration/V1.23__optimize_sequence_entries_view.sql
Due: none

feat(ena-submission): Add mock ENA service for testing
  ena-submission/mock-ena/.dockerignore
  ena-submission/mock-ena/Dockerfile
  ena-submission/mock-ena/__init__.py
  ena-submission/mock-ena/certs/.gitignore
  ena-submission/mock-ena/certs/generate-certs.sh
  ena-submission/mock-ena/requirements.txt
  ena-submission/mock-ena/server.py
Due: none

feat(ena-submission): Add Kubernetes support for mock ENA
  ena-submission/mock-ena/Dockerfile
  ena-submission/src/ena_deposition/config.py
  kubernetes/loculus/templates/ena-submission-deployment.yaml
  kubernetes/loculus/templates/mock-ena-deployment.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

feat(ena-submission): Add GHA workflow and network-level mock ENA setup
  .github/workflows/mock-ena-image.yaml
  ena-submission/mock-ena/server.py
  ena-submission/scripts/setup-mock-ena.sh
  kubernetes/loculus/templates/ena-submission-deployment.yaml
  kubernetes/loculus/templates/mock-ena-deployment.yaml
  ruff.toml
Due: helm-lint

fix(ena-submission): Inline mock ENA setup in deployment
  ena-submission/scripts/setup-mock-ena.sh
  kubernetes/loculus/templates/ena-submission-deployment.yaml
Due: helm-lint

wip
  backend/src/main/kotlin/org/loculus/backend/model/ReleasedDataModel.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/dbtables/ReleasedEntriesView.kt
  backend/src/main/resources/db/migration/V1.24__released_data_function.sql
  backend/src/main/resources/db/migration/V1.24__released_entries_view.sql
Due: none

progress
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/dbtables/ReleasedEntriesView.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/dbtables/SequenceEntriesTable.kt
  backend/src/main/resources/db/migration/V1.24__released_entries_view.sql
Due: none

f
  backend/src/main/resources/db/migration/V1.24__released_entries_view.sql
Due: none

feat(deployment): Add hostAliases for webin-cli mock ENA support
  kubernetes/loculus/templates/ena-submission-deployment.yaml
  kubernetes/loculus/templates/mock-ena-deployment.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

fix(deployment): Search /opt for Java cacerts in ena-submission
  kubernetes/loculus/templates/ena-submission-deployment.yaml
Due: helm-lint

fix(deployment): Use IfNotPresent for mock-ena imagePullPolicy
  kubernetes/loculus/templates/mock-ena-deployment.yaml
Due: helm-lint

update
  kubernetes/loculus/values.yaml
Due: helm-lint

remove creds
  kubernetes/loculus/values_preview_server.yaml
Due: helm-lint

Remove unused function
  backend/src/main/kotlin/org/loculus/backend/service/submission/dbtables/ReleasedSubmissionsFunction.kt
Due: none

perf(backend): add partial index for preprocessing poll query
  backend/src/main/resources/db/migration/V1.24__add_partial_index_for_preprocessing_poll.sql
Due: none

Apply suggestions from code review
  backend/src/main/resources/db/migration/V1.23__add_some_se_and_sepd_indexes.sql
Due: none

feat(deployment): enable pg_stat_statements for dev database profiling
  kubernetes/loculus/templates/keycloak-database-standin.yaml
  kubernetes/loculus/templates/loculus-database-standin.yaml
Due: helm-lint

perf(backend): add index on preprocessed_data (accession, version)
  backend/src/main/resources/db/migration/V1.23__add_preprocessed_data_accession_version_index.sql
Due: none

Put all new indexes into a single migration
  backend/src/main/resources/db/migration/V1.23__add_preprocessed_data_accession_version_index.sql
  backend/src/main/resources/db/migration/V1.23__add_some_se_and_sepd_indexes.sql
  backend/src/main/resources/db/migration/V1.24__add_partial_index_for_preprocessing_poll.sql
  backend/src/main/resources/db/migration/V1.25__add_covering_index_for_distinct_organism.sql
Due: none

perf(backend): add covering index for DISTINCT organism query
  backend/src/main/resources/db/migration/V1.23__add_preprocessed_data_accession_version_index.sql
  backend/src/main/resources/db/migration/V1.24__add_partial_index_for_preprocessing_poll.sql
  backend/src/main/resources/db/migration/V1.25__add_covering_index_for_distinct_organism.sql
Due: none

up
  ena-submission/mock-ena/Dockerfile
  ena-submission/mock-ena/server.py
  integration-tests/tests/specs/cli/ena-submission.spec.ts
  integration-tests/tests/utils/enaApi.ts
  kubernetes/loculus/templates/ena-submission-deployment.yaml
  kubernetes/loculus/templates/mock-ena-deployment.yaml
  kubernetes/loculus/values_ena_test.yaml
Due: helm-lint

chore(silo-import): more logging to figure out why we're still refreshing hard every hour
  silo-import/src/silo_import/__main__.py
  silo-import/src/silo_import/download_manager.py
Due: none

Some more logging as recommended by claude
  silo-import/src/silo_import/runner.py
Due: none

perf!(backend/db): pin dev postgres to prod version (15.12), enable pg_stat_statements for dev db, add indexes to speed up queries (#5643)
  backend/docs/db/schema.sql
  backend/src/main/resources/db/migration/V1.23__add_some_se_and_sepd_indexes.sql
  kubernetes/loculus/templates/keycloak-database-standin.yaml
  kubernetes/loculus/templates/loculus-database-standin.yaml
Due: helm-lint

Path conditions:
  prettier-values-schema: any of: ^kubernetes/loculus/values\.schema\.json$
  helm-lint: any of: ^kubernetes/loculus/
