Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

prettier-values-schema:
  name: prettier (values.schema.json)
  entry: npx prettier@3.6.2 --write
  language: system

helm-lint:
  name: helm lint
  entry: bash
  args:
  - -c
  - 'set -euo pipefail
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
  
  ...

docs: fix
  backend/docs/organismWithSuborganisms.md
Due: none

docs: fix config
  backend/docs/organismWithSuborganisms.md
Due: none

docs: add issue
  backend/docs/organismWithSuborganisms.md
Due: none

docs: fix nextclade
  backend/docs/organismWithSuborganisms.md
Due: none

perf(silo-import): remove hard refresh, trust etags
  silo-import/README.md
  silo-import/pyproject.toml
  silo-import/src/silo_import/config.py
  silo-import/src/silo_import/errors.py
  silo-import/src/silo_import/runner.py
  silo-import/tests/test_config.py
  silo-import/tests/test_integration.py
  silo-import/tests/test_runner.py
Due: none

feat!(k8s): make silo-import refresh and poll intervals configurable
  kubernetes/loculus/templates/silo-deployment.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  kubernetes/loculus/values_e2e_and_dev.yaml
Due: prettier-values-schema, helm-lint

update
  kubernetes/loculus/values.yaml
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/getSegmentAndGeneInfo.spec.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: helm-lint

feat(website): add submission-specific banner support
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  website/src/components/Submission/SubmissionPageWrapper.astro
  website/src/components/common/Banner.tsx
  website/src/services/bannerMessageService.ts
  website/src/types/config.ts
Due: prettier-values-schema, helm-lint

feat!(k8s): make silo-import refresh and poll intervals configurable (#5703)
  kubernetes/loculus/templates/silo-deployment.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  kubernetes/loculus/values_e2e_and_dev.yaml
Due: prettier-values-schema, helm-lint

deploy: f3944f0d3c8811eeb02621d9fe6eba89175da04f
  index.html
  pagefind/fragment/en_b7d23e9.pf_fragment
  pagefind/fragment/en_c0b82b7.pf_fragment
  pagefind/index/en_25432b5.pf_index
  pagefind/index/en_4af4f4e.pf_index
  pagefind/index/en_8a40ad4.pf_index
  pagefind/index/en_b4efb1e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_43e114e98f.pf_meta
  pagefind/pagefind.en_a8a0fcabff.pf_meta
Due: none

up
  kubernetes/loculus/values.yaml
Due: helm-lint

perf(backend,config): make pipeline version upgrade check interval configurable (#5700)
  backend/src/main/kotlin/org/loculus/backend/config/BackendSpringConfig.kt
  backend/src/main/kotlin/org/loculus/backend/config/Config.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/UseNewerProcessingPipelineVersionTask.kt
  backend/src/main/resources/application.properties
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/templates/loculus-backend.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

deploy: 0126943275d9aeabdf61b34c8d42b1a8da0ff67d
  index.html
  pagefind/fragment/en_62352e8.pf_fragment
  pagefind/fragment/en_87dbe0e.pf_fragment
  pagefind/fragment/en_b7d23e9.pf_fragment
  pagefind/fragment/en_e399afb.pf_fragment
  pagefind/index/en_25432b5.pf_index
  pagefind/index/en_8a40ad4.pf_index
  pagefind/index/en_b1e8b8f.pf_index
  pagefind/index/en_d69afe2.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_a8a0fcabff.pf_meta
  pagefind/pagefind.en_ffd81cc5dc.pf_meta
  reference/helm-chart-config/index.html
Due: none

style(website): fix import ordering in SubmissionPageWrapper
  website/src/components/Submission/SubmissionPageWrapper.astro
Due: none

feat(prepro): check for group not user
  preprocessing/nextclade/README.md
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
Due: none

fixup
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.ts
  website/src/types/config.ts
  website/src/types/referencesGenomes.ts
Due: none

update
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

revert
  kubernetes/loculus/values.yaml
Due: helm-lint

fixup
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

feat(website): Add configurable submission-only banner (#5705)
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  website/src/components/Submission/SubmissionPageWrapper.astro
  website/src/components/common/Banner.tsx
  website/src/services/bannerMessageService.ts
  website/src/types/config.ts
Due: prettier-values-schema, helm-lint

fixup
  kubernetes/loculus/values.yaml
Due: helm-lint

deploy: e89d664fc0bc6713c2a4cd2b795e4fa65cffc071
  index.html
  pagefind/fragment/en_298667e.pf_fragment
  pagefind/fragment/en_87dbe0e.pf_fragment
  pagefind/fragment/en_ca5e63e.pf_fragment
  pagefind/fragment/en_e399afb.pf_fragment
  pagefind/index/en_a615607.pf_index
  pagefind/index/en_a7e857e.pf_index
  pagefind/index/en_b1e8b8f.pf_index
  pagefind/index/en_d69afe2.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_1bd5fd45a5.pf_meta
  pagefind/pagefind.en_ffd81cc5dc.pf_meta
  reference/helm-chart-config/index.html
Due: none

feat(kubernetes): correctly type submission and release dates
  kubernetes/loculus/templates/_common-metadata.tpl
Due: helm-lint

Fix incorrect capitalization
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

perf(backend): fix N+1 query in streamReleasedSubmissions
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
Due: none

perf(backend): batch external metadata validation and upserts
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
Due: none

upd
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

ok
  kubernetes/loculus/values.yaml
Due: helm-lint

Add /.gradle-tmp/ to ignore
  backend/.gitignore
Due: none

feat(backend): stream released data via typed function
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/dbtables/ReleasedSubmissionsFunction.kt
  backend/src/main/resources/db/migration/V1.24__released_data_function.sql
Due: none

fix(backend): alias released function in Exposed binding
  backend/src/main/kotlin/org/loculus/backend/service/submission/dbtables/ReleasedSubmissionsFunction.kt
Due: none

Path conditions:
  prettier-values-schema: any of: ^kubernetes/loculus/values\.schema\.json$
  helm-lint: any of: ^kubernetes/loculus/
