Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.2
  hooks:
    # Run the linter and fix issues.
    - id: ruff-check
      args: [ --fix ]
      files: ^ena-submission/
    # Run the formatter.
    - id: ruff-format
      files: ^ena-submission/
- repo: local
  hooks:
    - id: prettier-values-schema
      name: prettier (values.schema.json)
      entry: npx prettier@3.6.2 --write
      language: system
      files: ^kubernetes/loculus/values\.schema\.json$
    - id: helm-lint
      name: helm lint
      entry: bash
      args:
        - -c
        - |
          set -euo pipefail
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_preview_server.yaml
      language: system
      pass_filenames: false
      files: ^kubernetes/loculus/

fix(deployment): fix dummy organism misnamed gene (#5941)
  kubernetes/loculus/values.yaml
Due: helm-lint

deploy: 6fad5f83905933e10082ede850aedb12dd38bb13
  index.html
  pagefind/fragment/en_3b2253b.pf_fragment
  pagefind/fragment/en_77d7d49.pf_fragment
  pagefind/index/en_228f77d.pf_index
  pagefind/index/en_47a433d.pf_index
  pagefind/index/en_56b738e.pf_index
  pagefind/index/en_6bc7434.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_506cdf5115.pf_meta
  pagefind/pagefind.en_8230f26faf.pf_meta
Due: none

deploy: dd97ec60e207e3e7e285aa0b3b33ce6425d3c71d
  index.html
  pagefind/fragment/en_77d7d49.pf_fragment
  pagefind/fragment/en_ef322c6.pf_fragment
  pagefind/index/en_1fc8c7e.pf_index
  pagefind/index/en_47a433d.pf_index
  pagefind/index/en_6bc7434.pf_index
  pagefind/index/en_768448d.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_14bdf4ccd9.pf_meta
  pagefind/pagefind.en_8230f26faf.pf_meta
Due: none

Test with trusting self-signed certificates
  backend/build.gradle
  backend/gradle.lockfile
  backend/src/main/kotlin/org/loculus/backend/service/files/S3Service.kt
Due: none

try again
  backend/src/main/kotlin/org/loculus/backend/service/files/S3Service.kt
Due: none

try more
  backend/src/main/kotlin/org/loculus/backend/service/files/S3Service.kt
Due: none

log
  backend/src/main/kotlin/org/loculus/backend/controller/FilesController.kt
  backend/src/main/kotlin/org/loculus/backend/service/files/S3Service.kt
Due: none

log more
  backend/src/main/kotlin/org/loculus/backend/service/files/S3Service.kt
Due: none

log
  backend/src/main/kotlin/org/loculus/backend/service/files/S3Service.kt
Due: none

fix
  backend/src/main/kotlin/org/loculus/backend/service/files/S3Service.kt
Due: none

catch throwable
  backend/src/main/kotlin/org/loculus/backend/controller/FilesController.kt
  backend/src/main/kotlin/org/loculus/backend/service/files/S3Service.kt
Due: none

test
  kubernetes/loculus/values.yaml
Due: helm-lint

next test
  kubernetes/loculus/values.yaml
Due: helm-lint

fix downloads for organisms without consensus sequences
  website/src/components/SearchPage/SeqPreviewModal.tsx
  website/src/components/SequenceDetailsPage/SequencesDataTableTitle.astro
Due: none

test also for not-aligned-organism
  kubernetes/loculus/values.yaml
Due: helm-lint

format
  website/src/components/SequenceDetailsPage/SequencesDataTableTitle.astro
Due: none

testing
  docs/src/content/docs/for-administrators/my-first-loculus.md
  kubernetes/loculus/values.yaml
Due: helm-lint

add back segments
  docs/src/content/docs/for-administrators/my-first-loculus.md
  kubernetes/loculus/values.yaml
Due: helm-lint

fixup
  website/src/components/SearchPage/SeqPreviewModal.tsx
Due: none

add back
  docs/src/content/docs/for-administrators/my-first-loculus.md
  kubernetes/loculus/values.yaml
Due: helm-lint

fixup
  website/src/components/SequenceDetailsPage/SequencesDataTableTitle.astro
  website/src/pages/seq/[accessionVersion]/index.astro
Due: none

fix(website, config): update docs for organism with disableConsensusSequence flag and dont allow fasta downloads (#5948)
  docs/src/content/docs/for-administrators/my-first-loculus.md
  kubernetes/loculus/values.yaml
  website/src/components/SearchPage/SeqPreviewModal.tsx
  website/src/components/SequenceDetailsPage/SequencesDataTableTitle.astro
  website/src/pages/seq/[accessionVersion]/index.astro
Due: helm-lint

deploy: a1c439079a2b85080928e3b33b220557994c3042
  for-administrators/my-first-loculus/index.html
  index.html
  pagefind/fragment/en_3b30ef9.pf_fragment
  pagefind/fragment/en_6511f35.pf_fragment
  pagefind/fragment/en_69627ad.pf_fragment
  pagefind/fragment/en_ef322c6.pf_fragment
  pagefind/index/en_1fc8c7e.pf_index
  pagefind/index/en_34d95bf.pf_index
  pagefind/index/en_768448d.pf_index
  pagefind/index/en_e9bc10e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_14bdf4ccd9.pf_meta
  pagefind/pagefind.en_a325214cf7.pf_meta
Due: none

feat(workflow): Adding taxon id for YFV to mirror action
  .github/workflows/datasets-mirror-priority-1.yml
Due: none

adjust docs
  docs/src/content/docs/for-administrators/build-new-preprocessing-pipeline.md
  docs/src/content/docs/for-administrators/setup-with-kubernetes.md
Due: none

feat(deployment): add PVC-based persistence for development databases
  kubernetes/loculus/templates/keycloak-database-standin.yaml
  kubernetes/loculus/templates/loculus-database-standin.yaml
  kubernetes/loculus/templates/minio-deployment.yaml
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

rename
  integration-tests/tests/specs/features/singleseg-multiref-submission-flow.spec.ts
Due: none

Remove a very outdated sentence from roadmap
  docs/src/content/docs/introduction/current-state-and-roadmap.md
Due: none

fix(integration): correct test name (#5950)
  integration-tests/tests/specs/features/singleseg-multiref-submission-flow.spec.ts
Due: none

Remove a very outdated sentence from roadmap (#5951)
  docs/src/content/docs/introduction/current-state-and-roadmap.md
Due: none

deploy: 91a9f315b4c08db9e543b632ee1613dee167cd1b
  index.html
  pagefind/fragment/en_3b30ef9.pf_fragment
  pagefind/fragment/en_df38a2c.pf_fragment
  pagefind/index/en_10f5306.pf_index
  pagefind/index/en_34d95bf.pf_index
  pagefind/index/en_3deb164.pf_index
  pagefind/index/en_e9bc10e.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_a325214cf7.pf_meta
  pagefind/pagefind.en_fd27bf8839.pf_meta
Due: none

deploy: 001d8bb71c6a8553df967545dcdd64f07d0fac4c
  index.html
  introduction/current-state-and-roadmap/index.html
  pagefind/fragment/en_186a86a.pf_fragment
  pagefind/fragment/en_4c435a1.pf_fragment
  pagefind/fragment/en_df38a2c.pf_fragment
  pagefind/fragment/en_f59986d.pf_fragment
  pagefind/index/en_10f5306.pf_index
  pagefind/index/en_14625f2.pf_index
  pagefind/index/en_3deb164.pf_index
  pagefind/index/en_8ea6f28.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_ccd54ae81d.pf_meta
  pagefind/pagefind.en_fd27bf8839.pf_meta
Due: none

feat: add function to process phenotype_values
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
Due: none

improve error handling
  preprocessing/nextclade/README.md
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
  preprocessing/nextclade/tests/test_metadata_processing_functions.py
Due: none

wupps
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
Due: none

add tests for regex_extraction function
  preprocessing/nextclade/tests/no_alignment_config.yaml
  preprocessing/nextclade/tests/test_metadata_processing_functions.py
Due: none

update docs
  preprocessing/nextclade/README.md
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
  preprocessing/nextclade/tests/no_alignment_config.yaml
Due: none

add more test cases
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

add unit test for process_phenotype_values
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

update
  preprocessing/nextclade/README.md
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
Due: none
