Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.2
  hooks:
    # Run the linter and fix issues.
    - id: ruff-check
      args: [ --fix ]
      files: ^ena-submission/
    # Run the formatter.
    - id: ruff-format
      files: ^ena-submission/
- repo: local
  hooks:
    - id: prettier-values-schema
      name: prettier (values.schema.json)
      entry: npx prettier@3.6.2 --write
      language: system
      files: ^kubernetes/loculus/values\.schema\.json$
    - id: helm-lint
      name: helm lint
      entry: bash
      args:
        - -c
        - |
          set -euo pipefail
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_preview_server.yaml
      language: system
      pass_filenames: false
      files: ^kubernetes/loculus/

wupps
  docs/src/content/docs/reference/fasta-format.md
Due: none

add to template
  website/src/config.ts
Due: none

improve
  docs/src/content/docs/for-users/submit-sequences.md
Due: none

merge conflict
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

fixup
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

squash code together
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

wupps
  kubernetes/loculus/values.yaml
Due: helm-lint

clean more
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

update docs
  kubernetes/loculus/values.yaml
Due: helm-lint

more improvements
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

more cleaning
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

wupps
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

fix tests
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

fixup
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

format
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

more clean up
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

add tests for require_nextclade_sort_match to ensure this isnt broken
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/tests/ebola-dataset/ebola-sudan/minimizer/minimizer.json
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/single_segment_config.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

condense
  preprocessing/nextclade/src/loculus_preprocessing/datatypes.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

make diff smaller
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

improve
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

clean up some more
  preprocessing/nextclade/src/loculus_preprocessing/datatypes.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

update
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

wupps
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

more
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

try again
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

fix up
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

update names
  docs/src/content/docs/for-administrators/my-first-loculus.md
  docs/src/content/docs/for-administrators/setup-with-k3d-and-nginx.mdx
  docs/src/content/docs/for-administrators/setup-with-kubernetes.md
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/README.md
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/multi_segment_config_unaligned.yaml
  preprocessing/nextclade/tests/single_segment_config.yaml
  preprocessing/nextclade/tests/test_metadata_processing_functions.py
Due: helm-lint

update
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

try to improve docs
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

add to docs
  docs/src/content/docs/reference/helm-chart-config.mdx
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

fixup
  docs/src/content/docs/reference/helm-chart-config.mdx
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

update docs
  docs/src/content/docs/for-users/submit-sequences.md
  docs/src/content/docs/reference/fasta-format.md
Due: none

format
  docs/src/content/docs/for-users/submit-sequences.md
  docs/src/content/docs/reference/fasta-format.md
Due: none

more
  docs/src/content/docs/reference/fasta-format.md
Due: none

fix
  website/src/config.ts
Due: none
