Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

prettier-values-schema:
  name: prettier (values.schema.json)
  entry: npx prettier@3.6.2 --write
  language: system

helm-lint:
  name: helm lint
  entry: bash
  args:
  - -c
  - 'set -euo pipefail
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
  
  ...

feat: add validation of map, update integration tests and add prepro tests (#5500)
  backend/src/main/kotlin/org/loculus/backend/service/submission/ProcessedSequenceEntryValidator.kt
  backend/src/main/kotlin/org/loculus/backend/utils/MetadataEntry.kt
  ingest/scripts/heuristic_group_segments.py
  ingest/tests/expected_output_cchf/submit_metadata.tsv
  preprocessing/dummy/main.py
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

Assign genotype in prepro (#5551)
  kubernetes/loculus/templates/ingest-config.yaml
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: helm-lint

refactorings of prepro multi-segment (#5552)
  preprocessing/nextclade/src/loculus_preprocessing/backend.py
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/ebola-dataset/ebola-sudan/.gitignore
  preprocessing/nextclade/tests/factory_methods.py
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

ingest from higher level EV taxon
  kubernetes/loculus/values.yaml
Due: helm-lint

feat: rename sequenceNameToFastaHeaderMap to sequenceNameToFastaId
  backend/src/main/kotlin/org/loculus/backend/api/SubmissionTypes.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/CompressionService.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/EmptyProcessedDataProvider.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/ProcessedSequenceEntryValidator.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/SubmissionDatabaseService.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/PreparedProcessedData.kt
  backend/src/test/kotlin/org/loculus/backend/service/ProcessedMetadataPostprocessorTest.kt
  backend/src/test/kotlin/org/loculus/backend/service/ProcessedSequencesPostprocessorTest.kt
  backend/src/test/kotlin/org/loculus/backend/utils/EarliestReleaseDateFinderTest.kt
  preprocessing/dummy/main.py
  preprocessing/nextclade/src/loculus_preprocessing/datatypes.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/tests/factory_methods.py
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
  preprocessing/specification.md
  website/src/components/Edit/SequencesForm.tsx
  website/src/components/ReviewPage/SequencesDialog.spec.tsx
  website/src/types/backend.ts
  website/vitest.setup.ts
Due: none

fix backend
  backend/docs/db/schema.sql
  backend/src/main/kotlin/org/loculus/backend/controller/SubmissionControllerDescriptions.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/UploadDatabaseService.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/dbtables/MetadataUploadAuxTable.kt
  backend/src/main/resources/db/migration/V1.21__refactor_aux_tables.sql
  backend/src/test/kotlin/org/loculus/backend/controller/submission/SubmitEndpointTest.kt
  integration-tests/tests/specs/features/revise-sequence.spec.ts
  website/src/components/Submission/FileUpload/fileProcessing.spec.ts
Due: none

pass less through function
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

use white space as a separator everywhere (#5501)
  backend/src/main/kotlin/org/loculus/backend/model/SubmitModel.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/ReviseEndpointTest.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/SubmitEndpointFileSharingTest.kt
  backend/src/test/kotlin/org/loculus/backend/controller/submission/SubmitEndpointTest.kt
  integration-tests/tests/specs/cli/end-to-end-flow.spec.ts
  integration-tests/tests/test-data/cchfv_test_metadata.tsv
  website/src/components/Edit/SequencesForm.tsx
Due: none

merge conflict
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: none

feat(prepro): batch segment assignment
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/datatypes.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
  preprocessing/nextclade/src/loculus_preprocessing/processing_functions.py
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/test_nextclade_preprocessing.py
Due: helm-lint

format
  preprocessing/nextclade/src/loculus_preprocessing/__init__.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

feat: clean up edit page PR a bit (#5396)
  integration-tests/tests/fixtures/sequence.fixture.ts
  integration-tests/tests/readonly.setup.ts
  integration-tests/tests/specs/features/revise-sequence.spec.ts
  integration-tests/tests/specs/features/search/override-hidden-fields.spec.ts
  integration-tests/tests/specs/features/sequence-view.dependent.spec.ts
  integration-tests/tests/specs/features/single-submit.spec.ts
  integration-tests/tests/specs/features/submission-flow.spec.ts
  integration-tests/tests/specs/features/trim-ns.spec.ts
  website/src/components/Edit/SequencesForm.spec.tsx
  website/src/components/Edit/SequencesForm.tsx
  website/src/components/Submission/FormOrUploadWrapper.tsx
Due: none

create a separate interface for files with a fasta header (#5495)
  website/src/components/Edit/SequencesForm.tsx
  website/src/components/Submission/FileUpload/FileUploadComponent.tsx
  website/src/components/Submission/FileUpload/fileProcessing.spec.ts
  website/src/components/Submission/FileUpload/fileProcessing.ts
Due: none

fix integration tests
  integration-tests/tests/readonly.setup.ts
  integration-tests/tests/specs/features/revise-sequence.spec.ts
Due: none

make diff cleaner
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

format
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

feat: update edit page
  integration-tests/tests/pages/submission.page.ts
  integration-tests/tests/specs/features/revise-sequence.spec.ts
  website/src/components/Edit/EditPage.spec.tsx
  website/src/components/Edit/EditPage.tsx
  website/src/components/Edit/SequencesForm.spec.tsx
  website/src/components/Edit/SequencesForm.tsx
  website/src/components/Submission/FileUpload/fileProcessing.ts
  website/src/components/Submission/FormOrUploadWrapper.spec.tsx
  website/src/components/Submission/FormOrUploadWrapper.tsx
  website/src/components/Submission/SubmissionForm.spec.tsx
  website/src/pages/[organism]/submission/edit/[accession]/[version].astro
Due: none

update d68 dataset
  kubernetes/loculus/values.yaml
Due: helm-lint

wuppsi
  kubernetes/loculus/values.yaml
Due: helm-lint

fixup
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/single_segment_config.yaml
Due: none

add new datasets and update linkOuts
  kubernetes/loculus/values.yaml
Due: helm-lint

testing
  docs/src/content/docs/for-administrators/my-first-loculus.md
  docs/src/content/docs/for-administrators/setup-with-k3d-and-nginx.mdx
  docs/src/content/docs/for-administrators/setup-with-kubernetes.md
  kubernetes/loculus/values.yaml
Due: helm-lint

fixup
  kubernetes/loculus/values.yaml
Due: helm-lint

fixup
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

fix amino acid mutation lists
  kubernetes/loculus/templates/loculus-preprocessing-config.yaml
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: helm-lint

format
  docs/src/content/docs/for-administrators/setup-with-kubernetes.md
Due: none

fix links
  kubernetes/loculus/values.yaml
Due: helm-lint

fix
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

feat(prepro, config): use new EV datasets and fix gene alignment for multi-path by prepro (#5563)
  docs/src/content/docs/for-administrators/my-first-loculus.md
  docs/src/content/docs/for-administrators/setup-with-k3d-and-nginx.mdx
  docs/src/content/docs/for-administrators/setup-with-kubernetes.md
  kubernetes/loculus/templates/loculus-preprocessing-config.yaml
  kubernetes/loculus/values.yaml
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/tests/multi_pathogen_config.yaml
  preprocessing/nextclade/tests/multi_segment_config.yaml
  preprocessing/nextclade/tests/single_segment_config.yaml
Due: helm-lint

Add tests for duplicate detection
  backend/src/test/kotlin/org/loculus/backend/utils/MetadataEntryTest.kt
Due: none

Nondocker only for cloud deployment
  backend/AGENTS.md
Due: none

Address Metadata parser should check for duplicate fasta ids and return set not list Fixes #5558
  backend/src/main/kotlin/org/loculus/backend/service/submission/UploadDatabaseService.kt
  backend/src/main/kotlin/org/loculus/backend/utils/MetadataEntry.kt
Due: none

Reduce duplication in MetadataEntry.kt - revision/original mostly the same
  backend/src/main/kotlin/org/loculus/backend/utils/MetadataEntry.kt
Due: none

Fix tests
  backend/src/test/kotlin/org/loculus/backend/utils/MetadataEntryTest.kt
Due: none

Add option to limit max number of accepted sequences per entry
  backend/src/main/kotlin/org/loculus/backend/config/Config.kt
  backend/src/main/kotlin/org/loculus/backend/config/ReferenceGenome.kt
  backend/src/main/kotlin/org/loculus/backend/model/SubmitModel.kt
  backend/src/main/kotlin/org/loculus/backend/utils/MetadataEntry.kt
  backend/src/test/kotlin/org/loculus/backend/utils/MetadataEntryTest.kt
Due: none

Add maxSequencesPerEntry to values.yaml and schema
  kubernetes/loculus/templates/_submission-data-types.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

fix
  website/src/config.ts
Due: none

more
  docs/src/content/docs/reference/fasta-format.md
Due: none

format
  docs/src/content/docs/for-users/submit-sequences.md
  docs/src/content/docs/reference/fasta-format.md
Due: none

update docs
  docs/src/content/docs/for-users/submit-sequences.md
  docs/src/content/docs/reference/fasta-format.md
Due: none

Path conditions:
  prettier-values-schema: any of: ^kubernetes/loculus/values\.schema\.json$
  helm-lint: any of: ^kubernetes/loculus/
