Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

prettier-values-schema:
  name: prettier (values.schema.json)
  entry: npx prettier@3.6.2 --write
  language: system

helm-lint:
  name: helm lint
  entry: bash
  args:
  - -c
  - 'set -euo pipefail
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
  
    helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
  
  ...

update
  kubernetes/loculus/values.yaml
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/getSegmentAndGeneInfo.spec.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: helm-lint

remove duplication
  kubernetes/loculus/values.yaml
Due: helm-lint

up
  kubernetes/loculus/values.yaml
Due: helm-lint

format
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

fixup
  kubernetes/loculus/values.yaml
Due: helm-lint

upd
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

delete unused file
  website/src/components/SearchPage/ReferenceNameSelector.tsx
Due: none

u
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
  preprocessing/nextclade/src/loculus_preprocessing/prepro.py
Due: none

make referenceSelector for each segment
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/types/referencesGenomes.ts
Due: none

fixes
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

more changes
  backend/docs/organismWithSuborganisms.md
  ena-submission/scripts/get_ena_submission_list.py
  ena-submission/src/ena_deposition/config.py
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/SuborganismSelector.spec.tsx
  website/src/components/SearchPage/SuborganismSelector.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SearchPage/stillRequiresSuborganismSelection.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/components/SequenceDetailsPage/getTableData.spec.ts
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.spec.ts
  website/src/config.ts
  website/src/pages/[organism]/index.astro
  website/src/pages/[organism]/search/index.astro
  website/src/types/config.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
  website/src/utils/serversideSearch.ts
Due: prettier-values-schema, helm-lint

fix some import order issues
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix reference selector again
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/utils/serversideSearch.ts
Due: none

fixup
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

fix download
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
Due: none

wupps
  kubernetes/loculus/values.yaml
Due: helm-lint

testing
  kubernetes/loculus/values.yaml
Due: helm-lint

fixup
  website/src/utils/getSegmentAndGeneInfo.tsx
Due: none

feat(config): update the config to use format decided on in slack
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
  kubernetes/loculus/templates/_preprocessingFromValues.tpl
  kubernetes/loculus/templates/_siloDatabaseConfig.tpl
  kubernetes/loculus/templates/ingest-config.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

fix more code
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.spec.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SearchPage/isActiveForSelectedReferenceName.tsx
  website/src/components/SearchPage/isActiveForSelectedSuborganism.tsx
  website/src/config.spec.ts
  website/src/config.ts
  website/src/pages/[organism]/search/index.astro
  website/src/types/config.ts
  website/src/utils/search.spec.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

extend for multi-segment
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/serversideSearch.ts
Due: none

testing
  website/src/components/SearchPage/SearchFullUI.tsx
Due: none

change prepro config as well
  preprocessing/nextclade/src/loculus_preprocessing/config.py
Due: none

get rid of warning
  website/src/config.ts
Due: none

fix revocation page bug
  website/src/components/SequenceDetailsPage/DataTable.tsx
Due: none

clean up types in tests
  website/src/components/ReviewPage/SequencesDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.spec.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceViewer.spec.tsx
  website/src/components/SequenceDetailsPage/getTableData.spec.ts
  website/src/components/common/ActiveFilters.spec.tsx
  website/src/config.spec.ts
  website/src/types/referenceGenomes.spec.ts
  website/src/utils/search.spec.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix config
  kubernetes/loculus/templates/_merged-reference-genomes.tpl
Due: helm-lint

testing
  website/src/components/SearchPage/SearchForm.tsx
Due: none

format
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/ReferenceSelector.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/isActiveForSelectedReferenceName.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/config.ts
  website/src/pages/[organism]/index.astro
  website/src/pages/[organism]/submission/[groupId]/review.astro
  website/src/utils/referenceSelection.ts
  website/src/utils/search.ts
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix mutation search for EVs
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
  website/src/utils/sequenceTypeHelpers.ts
Due: none

fix reading in config
  website/src/components/ReviewPage/ReviewPage.spec.tsx
  website/src/components/ReviewPage/ReviewPage.tsx
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.spec.tsx
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/SearchForm.spec.tsx
  website/src/components/SearchPage/SearchForm.tsx
  website/src/components/SearchPage/SearchFullUI.spec.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/SegmentReferenceSelector.tsx
  website/src/components/SearchPage/SeqPreviewModal.tsx
  website/src/components/SearchPage/SuborganismSelector.spec.tsx
  website/src/components/SearchPage/SuborganismSelector.tsx
  website/src/components/SearchPage/fields/MutationField.spec.tsx
  website/src/components/SearchPage/stillRequiresReferenceNameSelection.tsx
  website/src/components/SearchPage/stillRequiresSuborganismSelection.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/RevocationEntryDataTable.astro
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/config.ts
  website/src/pages/[organism]/search/index.astro
  website/src/pages/[organism]/submission/[groupId]/released.astro
  website/src/pages/[organism]/submission/[groupId]/review.astro
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/pages/seq/[accessionVersion]/index.astro
  website/src/types/config.ts
  website/src/types/referencesGenomes.ts
  website/src/utils/getSegmentAndGeneInfo.spec.tsx
  website/src/utils/getSegmentAndGeneInfo.tsx
  website/src/utils/serversideSearch.ts
Due: none

fix some bugs
  website/src/components/ReviewPage/getSegmentAndGeneDisplayNameMap.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/components/SearchPage/ReferenceSelector.tsx
  website/src/components/SearchPage/SearchFullUI.tsx
  website/src/components/SearchPage/useSearchPageState.ts
  website/src/config.ts
  website/src/pages/seq/[accessionVersion].fa/index.ts
  website/src/utils/serversideSearch.ts
Due: none

improve
  kubernetes/loculus/values.yaml
Due: helm-lint

start fixing tests
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.spec.tsx
  website/src/types/referenceGenomes.spec.ts
Due: none

correct type
  website/src/components/SearchPage/DownloadDialog/DownloadDialog.tsx
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/components/SearchPage/DownloadDialog/FieldSelector/FieldSelectorModal.tsx
  website/src/components/SearchPage/TableColumnSelectorModal.tsx
  website/src/components/SequenceDetailsPage/DataTable.tsx
  website/src/components/SequenceDetailsPage/SequenceDataUI.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequenceContainer.spec.tsx
  website/src/components/SequenceDetailsPage/SequencesDisplay/SequencesContainer.tsx
  website/src/components/SequenceDetailsPage/getTableData.ts
  website/src/utils/referenceSelection.ts
  website/src/utils/search.ts
  website/src/utils/serversideSearch.ts
Due: none

fix up
  website/src/config.ts
Due: none

fix some bugs
  website/src/components/SearchPage/DownloadDialog/DownloadForm.tsx
  website/src/types/referencesGenomes.ts
Due: none

revert formatting changes
  website/.prettierrc
  website/README.md
  website/tests/config/README.md
Due: none

fix EVs
  preprocessing/nextclade/src/loculus_preprocessing/config.py
  preprocessing/nextclade/src/loculus_preprocessing/nextclade.py
Due: none

Path conditions:
  prettier-values-schema: any of: ^kubernetes/loculus/values\.schema\.json$
  helm-lint: any of: ^kubernetes/loculus/
