Repository loculus-project/loculus: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-values-schema, helm-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.2
  hooks:
    # Run the linter and fix issues.
    - id: ruff-check
      args: [ --fix ]
      files: ^ena-submission/
    # Run the formatter.
    - id: ruff-format
      files: ^ena-submission/
- repo: local
  hooks:
    - id: prettier-values-schema
      name: prettier (values.schema.json)
      entry: npx prettier@3.6.2 --write
      language: system
      files: ^kubernetes/loculus/values\.schema\.json$
    - id: helm-lint
      name: helm lint
      entry: bash
      args:
        - -c
        - |
          set -euo pipefail
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_e2e_and_dev.yaml
          helm lint kubernetes/loculus -f kubernetes/loculus/values.yaml -f kubernetes/loculus/values_preview_server.yaml
      language: system
      pass_filenames: false
      files: ^kubernetes/loculus/

feat(deposition): use orjsonl
  ena-submission/environment.yml
  ena-submission/scripts/test_get_ena_submission_list.py
Due: none

feat(deposition): add comments
  ena-submission/scripts/test_get_ena_submission_list.py
Due: none

feat(deposition): also add submitted sequence to mock results
  ena-submission/scripts/test_get_ena_submission_list.py
  ena-submission/test/get-released-data.ndjson
Due: none

add back deepdiff
  ena-submission/environment.yml
Due: none

fixup
  ena-submission/scripts/test_get_ena_submission_list.py
  ena-submission/src/ena_deposition/create_assembly.py
Due: none

fixup
  ena-submission/test/approved_ena_submission_list_test.json
Due: none

fixup
  ena-submission/scripts/test_get_ena_submission_list.py
  ena-submission/test/get-released-data.ndjson
Due: none

feat: remove from docs
  ena-submission/ENA_submission.md
  ena-submission/README.md
  ena-submission/src/ena_deposition/create_assembly.py
Due: none

chore(deposition): remove dead code (#5692)
  ena-submission/ENA_submission.md
  ena-submission/README.md
  ena-submission/scripts/test_ena_submission.py
  ena-submission/src/ena_deposition/create_assembly.py
  ena-submission/src/ena_deposition/ena_submission_helper.py
Due: none

deploy: f9dbf8f8656440705821350f40e3528be7d43bc8
  index.html
  pagefind/fragment/en_dd3a595.pf_fragment
  pagefind/fragment/en_ffe7a9a.pf_fragment
  pagefind/index/en_2189f61.pf_index
  pagefind/index/en_9a4fe1c.pf_index
  pagefind/index/en_bd72738.pf_index
  pagefind/index/en_d0d654f.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_ad89a6f68b.pf_meta
  pagefind/pagefind.en_f5442deb76.pf_meta
Due: none

fix linter
  ena-submission/scripts/test_get_ena_submission_list.py
Due: none

fix(config): dont make preprocessing reliant on enaDeposition
  kubernetes/loculus/templates/loculus-preprocessing-config.yaml
  kubernetes/loculus/values.yaml
Due: helm-lint

perf(backend): make zstd compression level configurable, increase default to 10
  backend/src/main/kotlin/org/loculus/backend/config/Config.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/CompressionService.kt
  backend/src/test/kotlin/org/loculus/backend/service/CompressionServiceTest.kt
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

add description to values.schema.json
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

docs: add comprehensive performance analysis report
  PERFORMANCE_ANALYSIS.md
Due: none

Apply suggestions from code review
  ena-submission/scripts/test_ena_submission.py
Due: none

fix!(config): dont make preprocessing reliant on enaDeposition (#5695)
  kubernetes/loculus/templates/loculus-preprocessing-config.yaml
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

deploy: ac9334a66551813d8e258a6e36ccd541a63ce205
  index.html
  pagefind/fragment/en_23a0bd3.pf_fragment
  pagefind/fragment/en_dd3a595.pf_fragment
  pagefind/fragment/en_e796253.pf_fragment
  pagefind/fragment/en_e9ab4ef.pf_fragment
  pagefind/index/en_745662b.pf_index
  pagefind/index/en_9860852.pf_index
  pagefind/index/en_bd72738.pf_index
  pagefind/index/en_d0d654f.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_ad89a6f68b.pf_meta
  pagefind/pagefind.en_c7e42e090c.pf_meta
  reference/helm-chart-config/index.html
Due: none

fix ruff
  ena-submission/scripts/test_ena_submission.py
Due: none

test(ena-submission): Add unit test for flatfile with apostrophes in author names (#5676)
  ena-submission/scripts/test_ena_submission.py
  ena-submission/src/ena_deposition/ena_submission_helper.py
  ena-submission/test/test_flatfile_with_apostrophe.embl
Due: none

deploy: 0766d539aff482c84ef2aa6099c193c1d7c25763
  index.html
  pagefind/fragment/en_56fa521.pf_fragment
  pagefind/fragment/en_e796253.pf_fragment
  pagefind/index/en_353d157.pf_index
  pagefind/index/en_745662b.pf_index
  pagefind/index/en_7fc2491.pf_index
  pagefind/index/en_9860852.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_c7e42e090c.pf_meta
  pagefind/pagefind.en_f07ccd758c.pf_meta
Due: none

chore(ena-submission): start AGENTS.md with basic instructions and add CLAUDE/GEMINI symlinks to it
  ena-submission/AGENTS.md
  ena-submission/CLAUDE.md
  ena-submission/GEMINI.md
Due: none

Update kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.schema.json
Due: prettier-values-schema, helm-lint

perf(backend): add covering index for DISTINCT organism query
  backend/src/main/resources/db/migration/V1.23__add_preprocessed_data_accession_version_index.sql
  backend/src/main/resources/db/migration/V1.24__add_partial_index_for_preprocessing_poll.sql
  backend/src/main/resources/db/migration/V1.25__add_covering_index_for_distinct_organism.sql
Due: none

perf(backend): add index on preprocessed_data (accession, version)
  backend/src/main/resources/db/migration/V1.23__add_preprocessed_data_accession_version_index.sql
Due: none

Put all new indexes into a single migration
  backend/src/main/resources/db/migration/V1.23__add_preprocessed_data_accession_version_index.sql
  backend/src/main/resources/db/migration/V1.23__add_some_se_and_sepd_indexes.sql
  backend/src/main/resources/db/migration/V1.24__add_partial_index_for_preprocessing_poll.sql
  backend/src/main/resources/db/migration/V1.25__add_covering_index_for_distinct_organism.sql
Due: none

feat(deployment): enable pg_stat_statements for dev database profiling
  kubernetes/loculus/templates/keycloak-database-standin.yaml
  kubernetes/loculus/templates/loculus-database-standin.yaml
Due: helm-lint

perf(backend): add partial index for preprocessing poll query
  backend/src/main/resources/db/migration/V1.24__add_partial_index_for_preprocessing_poll.sql
Due: none

Update schema documentation based on migration changes
  backend/docs/db/schema.sql
Due: none

chore(ena-submission): start AGENTS.md with basic instructions and add CLAUDE/GEMINI symlinks to it (#5697)
  ena-submission/AGENTS.md
  ena-submission/CLAUDE.md
  ena-submission/GEMINI.md
Due: none

deploy: 7dda5e27e6014430da69f6fd06a95cf246dd2888
  index.html
  pagefind/fragment/en_56fa521.pf_fragment
  pagefind/fragment/en_9cf5bbf.pf_fragment
  pagefind/index/en_353d157.pf_index
  pagefind/index/en_5ef6a7d.pf_index
  pagefind/index/en_7fc2491.pf_index
  pagefind/index/en_bec2a5f.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5c88c94eb8.pf_meta
  pagefind/pagefind.en_f07ccd758c.pf_meta
Due: none

perf(backend): make zstd compression level configurable, increase default to 10 (#5688)
  backend/src/main/kotlin/org/loculus/backend/config/Config.kt
  backend/src/main/kotlin/org/loculus/backend/service/submission/CompressionService.kt
  backend/src/test/kotlin/org/loculus/backend/service/CompressionServiceTest.kt
  kubernetes/loculus/templates/_common-metadata.tpl
  kubernetes/loculus/values.schema.json
  kubernetes/loculus/values.yaml
Due: prettier-values-schema, helm-lint

deploy: 98e627c726053850df37ab4a6bfc29e4d23b37ab
  index.html
  pagefind/fragment/en_23a0bd3.pf_fragment
  pagefind/fragment/en_62352e8.pf_fragment
  pagefind/fragment/en_6fdc6a0.pf_fragment
  pagefind/fragment/en_9cf5bbf.pf_fragment
  pagefind/index/en_1e6ce73.pf_index
  pagefind/index/en_4dbd9aa.pf_index
  pagefind/index/en_5ef6a7d.pf_index
  pagefind/index/en_bec2a5f.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_5c88c94eb8.pf_meta
  pagefind/pagefind.en_f4733e1c5b.pf_meta
  reference/helm-chart-config/index.html
Due: none

fix(deployment): give backend 30min to come live not 3min to avoid it being killed during migrations
  kubernetes/loculus/templates/loculus-backend.yaml
Due: helm-lint

improve functions
  ena-submission/src/ena_deposition/create_assembly.py
  ena-submission/src/ena_deposition/create_project.py
  ena-submission/src/ena_deposition/create_sample.py
  ena-submission/src/ena_deposition/ena_submission_helper.py
Due: none

docs
  ena-submission/src/ena_deposition/create_assembly.py
Due: none

docs
  ena-submission/src/ena_deposition/create_project.py
Due: none
